<!DOCTYPE html>
<html>
<head>
    <title>Leagues | Games</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <script src="{% static 'polls/js/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'polls/css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">

    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {{ game_form.media }}

    <script>
        // Accordion
        function myFunction(id) {
            let block = $("#" + id);
            if (block) {
                block.toggleClass('w3-show');
                block.prev().toggleClass('w3-theme-d1');
            }
        }

        function showGameInfo(event, id) {
            $(event.target).children().first().toggleClass('fa-angle-double-down');
            $(event.target).children().first().toggleClass('fa-angle-double-up');
            $("#" + id).toggleClass('accordion_open');
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            let item = $("#navDemo");
            if (item) {
                item.toggleClass('w3-show');
            }
        }
    </script>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
           href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i
                class="fa fa-home w3-margin-right"></i>Logo</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i
                class="fa fa-globe"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
           title="Account Settings"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i
                class="fa fa-envelope"></i></a>
        <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span
                    class="w3-badge w3-right w3-small w3-green">3</span></button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                <a href="#" class="w3-bar-item w3-button">One new friend request</a>
                <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
                <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
            </div>
        </div>
        <a href="{% url 'polls:logout' %}"
           class="w3-bar-item w3-button w3-hide-small w3-right w3-padding w3-hover-white" title="My Account">
            <img src="{% static 'polls/images/settings_icon.ico' %}" style="height:35px;width:35px" alt="Avatar">
        </a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->

        {% if user.is_authenticated %}
            <div class="w3-col m3">

                <!-- Profile -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center">My Profile</h4>
                        <p class="w3-center">
                            <img src="{% static 'polls/images/default_avatar.png' %}" class="w3-circle"
                                 style="height:106px;width:106px" alt="Avatar">
                        </p>
                        <hr>
                        <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
                        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
                    </div>
                </div>
                <br>

                <!-- Accordion -->
                <div class="w3-card w3-round">
                    <div class="w3-white">
                        <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                                class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups
                        </button>
                        <div id="Demo1" class="w3-hide w3-container">
                            <p>Some text..</p>
                        </div>
                        <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                                class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events
                        </button>
                        <div id="Demo2" class="w3-hide w3-container">
                            <p>Some other text..</p>
                        </div>
                        <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                                class="fa fa-users fa-fw w3-margin-right"></i> My Photos
                        </button>
                        <div id="Demo3" class="w3-hide w3-container">
                            <div class="w3-row-padding">
                                <br>
                                <div class="w3-half">
                                    <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- Interests -->
                <div class="w3-card w3-round w3-white w3-hide-small">
                    <div class="w3-container">
                        <p>Interests</p>
                        <p>
                            <span class="w3-tag w3-small w3-theme-d5">News</span>
                            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
                            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
                            <span class="w3-tag w3-small w3-theme-d2">Games</span>
                            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                            <span class="w3-tag w3-small w3-theme">Games</span>
                            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                            <span class="w3-tag w3-small w3-theme-l2">Food</span>
                            <span class="w3-tag w3-small w3-theme-l3">Design</span>
                            <span class="w3-tag w3-small w3-theme-l4">Art</span>
                            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
                        </p>
                    </div>
                </div>
                <br>

                <!-- Alert Box -->
                <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
                <span onclick="this.parentElement.style.display='none'"
                      class="w3-button w3-theme-l3 w3-display-topright">
                  <i class="fa fa-remove"></i>
                </span>
                    <p><strong>Hey!</strong></p>
                    <p>People are looking at your profile. Find out who.</p>
                </div>

                <!-- End Left Column -->
            </div>
        {% endif %}

        <!-- Middle Column -->

        <div class="w3-col {% if user.is_authenticated %} m7 {% endif %}">
            <div class="w3-container">
                <div class="w3-card w3-round w3-theme">
                    <div class="w3-container w3-padding">
                        <button type="button" class="w3-button w3-white"
                                onclick="document.getElementById('create_game_modal').style.display='block'">
                            <i class="fa fa-plus"></i> Add game
                        </button>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-margin-top flex-container">
                {% for game in game_list %}
                    <div class="w3-card-4 flex-item gameCard">
                        <header class="w3-block w3-center gameImg">
                            <button type="button" class="w3-display-topleft w3-white gameEdit"
                                    onclick="$('#game_edit_' + {{ game.id }}).show()">
                                <i class="fa fa-pencil"></i>
                            </button>
                            {% if game.image_url %}
                                <img src="{{ game.image_url }}" alt="{{ game.name }}" style="width: 300px">
                            {% else %}
                                <h3 class="w3-text-white w3-display-middle">No image</h3>
                            {% endif %}
                        </header>

                        <div class="w3-container w3-center">
                            <h3 style="margin-bottom: 0">{{ game.name }}</h3>
                            <div id="game_info_{{ game.id }}" class="accordion">
                                <ul class="w3-ul">
                                    <li>Released: {{ game.release_date|default:"unknown" }}</li>
                                    <li>Genre: {{ game.genre|default:"unknown" }}</li>
                                    <li>Publisher: {{ game.publisher|default:"unknown" }}</li>
                                </ul>
                            </div>
                        </div>
                        <button onclick="showGameInfo(event, 'game_info_{{ game.id }}')" class="w3-block w3-button"
                                style="padding: 0; margin-top: 6px">
                            <i class="fa fa-angle-double-down"></i>
                        </button>
                    </div>
                {% endfor %}
            </div>
            <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        {% if user.is_authenticated %}
            <div class="w3-col m2">


                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <p>Upcoming Events:</p>
                        <img src="/w3images/forest.jpg" alt="Forest" style="width:100%;">
                        <p><strong>Holiday</strong></p>
                        <p>Friday 15:00</p>
                        <p>
                            <button class="w3-button w3-block w3-theme-l4">Info</button>
                        </p>
                    </div>
                </div>
                <br>

                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <p>Friend Request</p>
                        <img src="/w3images/avatar6.png" alt="Avatar" style="width:50%"><br>
                        <span>Jane Doe</span>
                        <div class="w3-row w3-opacity">
                            <div class="w3-half">
                                <button class="w3-button w3-block w3-green w3-section" title="Accept"><i
                                        class="fa fa-check"></i></button>
                            </div>
                            <div class="w3-half">
                                <button class="w3-button w3-block w3-red w3-section" title="Decline"><i
                                        class="fa fa-remove"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
                    <p>ADS</p>
                </div>
                <br>

                <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
                    <p><i class="fa fa-bug w3-xxlarge"></i></p>
                </div>

                <!-- End Right Column -->
            </div>
        {% endif %}

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
    <p>Leagues|THE place for gamers</p>
</footer>

{% load widget_tweaks %}
{% for form in edit_forms %}
    <div id="{{ form.prefix }}" class="w3-modal" {% if form.errors %}
         style="display: block" {% endif %}>
        <div class="w3-modal-content w3-card-4" style="max-width:600px">

            <header class="w3-container w3-center w3-light-grey w3-border-bottom">
                <h3>Edit '{{ form.name.value }}'</h3>

                <button onclick="$('#{{ form.prefix }}').hide()" type="button"
                        class="w3-button w3-display-topright w3-red">
                    <i class="fa fa-times"></i>
                </button>
            </header>

            <form method="POST" class="" action="{% url 'polls:games' %}" name="game_edit">
                <div class="w3-section w3-container">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="w3-container w3-padding-16 w3-margin-bottom w3-red w3-round-large">
                            {{ form.errors }}
                        </div>
                    {% endif %}

                    <label><b>{{ form.name.label_tag }}</b></label>
                    {% render_field form.name class+="w3-input w3-border w3-margin-bottom" %}

                    <label><b>{{ form.release_date.label_tag }}</b></label>
                    <div class='w3-cell-row w3-margin-bottom'>
                        {% render_field form.release_date class+="w3-input w3-border w3-cell" %}
                        <div class="w3-cell w3-cell-middle w3-center w3-border date_icon">
                            <span class="fa fa-calendar"></span>
                        </div>
                    </div>

                    <label><b>{{ form.publisher.label_tag }}</b></label>
                    {% render_field form.publisher class+="w3-input w3-border w3-margin-bottom" %}
                    <label><b>{{ form.image_url.label_tag }}</b></label>
                    {% render_field form.image_url class+="w3-input w3-border w3-margin-bottom" %}
                    <label><b>{{ form.genre.label_tag }}</b></label>
                    {% render_field form.genre class+="w3-input w3-border w3-margin-bottom" %}
                    <label><b>{{ form.game_modes.label_tag }}</b></label>
                    {% render_field form.game_modes class+="w3-input w3-border" %}
                </div>
                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                    <button onclick="$('#{{ form.prefix }}').hide()" type="button"
                            class="w3-button w3-red">Close
                    </button>

                    <input type="hidden" name="game_id" value="{{ form.instance.id }}">
                    <input class="w3-button w3-green w3-right" type="submit" name="{{ form.prefix }}"
                           value="Save changes">
                </div>
            </form>
        </div>
    </div>
{% endfor %}


<div id="create_game_modal" class="w3-modal" {% if game_form.errors %} style="display: block" {% endif %}>
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
        <header class="w3-container w3-center w3-light-grey w3-border-bottom">
            <h3>Create game</h3>

            <button onclick="$('#create_game_modal').hide()" type="button"
                    class="w3-button w3-display-topright w3-red">
                <i class="fa fa-times"></i>
            </button>
        </header>

        <form method="POST" class="" action="{% url 'polls:games' %}" name="game_create">
            <div class="w3-section w3-container">
                {% csrf_token %}
                {% if game_form.errors %}
                    <div class="w3-container w3-padding-16 w3-margin-bottom w3-red w3-round-large">
                        {{ game_form.errors }}
                    </div>
                {% endif %}
                <label><b>{{ game_form.name.label_tag }}</b></label>
                {% render_field game_form.name class+="w3-input w3-border w3-margin-bottom" %}

                <label><b>{{ game_form.release_date.label_tag }}</b></label>
                <div class='w3-cell-row w3-margin-bottom'>
                    {% render_field game_form.release_date class+="w3-input w3-border w3-cell" %}
                    <div class="w3-cell w3-cell-middle w3-center w3-border date_icon">
                        <span class="fa fa-calendar"></span>
                    </div>
                </div>

                <label><b>{{ game_form.publisher.label_tag }}</b></label>
                {% render_field game_form.publisher class+="w3-input w3-border w3-margin-bottom" %}
                <label><b>{{ game_form.image_url.label_tag }}</b></label>
                {% render_field game_form.image_url class+="w3-input w3-border w3-margin-bottom" %}
                <label><b>{{ game_form.genre.label_tag }}</b></label>
                {% render_field game_form.genre class+="w3-input w3-border w3-margin-bottom" %}
                <label><b>{{ game_form.game_modes.label_tag }}</b></label>
                {% render_field game_form.game_modes class+="w3-input w3-border" %}
            </div>
            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('create_game_modal').style.display='none'" type="button"
                        class="w3-button w3-red">Cancel
                </button>
                <input class="w3-button w3-green w3-right" type="submit" name="{{ game_form.prefix }}"
                       value="Create game">
            </div>
        </form>
    </div>
</div>
</body>
</html>
