<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <script src="{% static 'polls/js/jquery-3.3.1.min.js' %}"></script>
    {{ player.media }}
    <title>Questions</title>
</head>
<body>

<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<form action="{% url 'polls:index' %}" method="post">
    {% csrf_token %}
    <table>
        {{ player.as_table }}
    </table>
    {{ form }}
    <input type="submit" value="Submit">
</form>
</body>
</html>