<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} {% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <script src="{% static 'leagues/js/jquery-3.3.1.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'leagues/css/w3.css' %}">
  <link rel="stylesheet" href="{% static 'leagues/css/style.css' %}">

  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {{ game_form.media }}

  <script src="{% static 'leagues/js/table_handler.js' %}"></script>
  <script>
      // Accordion
      function myFunction(id) {
          let block = $("#" + id);
          if (block) {
              block.toggleClass('w3-show');
              block.prev().toggleClass('w3-theme-d1');
          }
      }

      function showSection(event, sectionID) {
          let path = window.location.pathname;
          let selected = $('#' + sectionID);
          let tab = $('.section-tab.w3-border-red');
          $('.section').hide();
          tab.removeClass('w3-border-red');
          selected.show();
          if (event) {
              $(event.target).addClass('w3-border-red');
              sessionStorage.setItem(path + "selected_tab", event.target.id);
          } else {
              let tabID = sessionStorage.getItem(path + "selected_tab");
              {#console.log(tabID);#}
              if (tabID !== "") {
                  let tab = $('#' + tabID);
                  tab.addClass('w3-border-red');
              }
          }
          sessionStorage.setItem(path + "selected_section", sectionID);
      }

      function showGameInfo(event, id) {
          $(event.target).children().first().toggleClass('fa-angle-double-down');
          $(event.target).children().first().toggleClass('fa-angle-double-up');
          $("#" + id).toggleClass('accordion_open');
      }

      // Used to toggle the menu on smaller screens when clicking on the menu button
      function openNav() {
          let item = $("#navDemo");
          if (item) {
              item.toggleClass('w3-show');
          }
      }

      function CloseModal(modalID) {
          let modal = $('#' + modalID);
          let errorDiv = $('.formErrors', modal);
          errorDiv.hide();
          modal.hide();
      }


      function OpenCreateModal(modalID, afterError = false) {
          let modalType = modalID.split('_')[0];
          let modal = $('#' + modalID);
          let form = $('form', modal);
          $('.modalTitle', modal).text('Create ' + modalType);
          $('.formAction', form).val(modalType + '_create');
          $('.formSubmit', form).val('Create ' + modalType);
          form[0].reset();
          $.ajax({
              type: "GET",
              dataType: "json",
              async: true,
              url: "{% url 'leagues:settings' %}",
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  'action': 'open_create_modal',
                  'modal_type': modalType,
              },
              success: function (json) {
                  if (!afterError) {
                      $.each(json, function (key, value) {
                          let field = $('#id_' + modalID + '-' + key);
                          field.empty();
                          $.each(value, function (idx, option) {
                              field.append($("<option></option>")
                                  .prop('value', option[0])
                                  .text(option[1]));
                          });
                          field.children().first().prop('selected', true);
                      });
                  }

                  modal.show();
              },
              error: function (xhr, error) {
                  console.log("AJAX failure");
                  console.log(xhr);
                  console.log(error);
              }
          });
      }

      function OpenEditModal(modalID, objectID, afterError = false) {
          let modalType = modalID.split('_')[0];
          let modal = $('#' + modalID);
          let form = $('form', modal);
          $.ajax({
              type: "GET",
              dataType: "json",
              async: true,
              url: "{% url 'leagues:settings' %}",
              data: {
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                  'action': 'open_edit_modal',
                  'modal_type': modalType,
                  'object_id': objectID,
              },
              success: function (json) {
                  if (!afterError) {
                      $.each(json, function (key, value) {
                          if (!key.endsWith('_queryset')) {
                              let field = $('#id_' + modalID + '-' + key);
                              if (field.prop('type') === 'checkbox') {
                                  field.prop('checked', value);
                              } else if (field.is('select')) {
                                  /* Get queryset and delete old select options */
                                  let queryset = json[key + '_queryset'];
                                  if (queryset) {
                                      let nullOption = field.children().first();
                                      field.empty();
                                      if (nullOption.text().includes('---')) {
                                          nullOption.prop('selected', false);
                                          field.append(nullOption);
                                      }
                                      /* Populate select with options from provided queryset */
                                      $.each(queryset, function (idx, option) {
                                          field.append($("<option></option>")
                                              .prop('value', option.id)
                                              .text(option.value));
                                      });
                                  }
                                  {#console.log(field);#}
                                  {#console.log(value);#}
                                  if (value) {
                                      let option = $('option[value="' + value + '"]', field);
                                      option.prop('selected', true);
                                  } else {
                                      let nullOption = field.children().first();
                                      nullOption.prop('selected', true);
                                  }
                              } else {
                                  field.val(value);
                              }
                          }
                      });
                  }

                  let formUnique = $('.formUnique', form);
                  $('.modalTitle', modal).text('Edit \'' + formUnique.val() + '\'');
                  $('.formAction', form).val(modalType + '_edit');
                  $('.formSubmit', form).val('Save changes');
                  $('.formID', form).val(objectID);
                  modal.show();
              },
              error: function (xhr, error) {
                  console.log("AJAX failure");
                  console.log(xhr);
                  console.log(error);
              }
          });
      }

      function CallbackConfig(args) {
          this.func = 'buttonClick';
          this.args = args;
      }


      function enableButton(event) {
          $('#' + event.data.buttonID).prop('disabled', false);
      }


      function openDialog(text, callbackConfig, event = null) {
          if (event) {
              let target = $(event.target);
              if (!target.is('button')) {
                  /* Find first parent button, event might have
                   * caught span element in button */
                  target = target.parent('button');
              }
              let buttons = $('#dialog_decline, #dialog_close');
              let buttonID = target.prop('id');
              buttons.off();
              buttons.on('click', {buttonID: buttonID}, enableButton);
          }

          let confirmButton = $('#dialog_confirm');
          if (callbackConfig) {
              let onclickString = callbackConfig.func + '(event, ';
              let length = callbackConfig.args.length;
              for (let i = 0; i < length; i++) {
                  onclickString += '\'' + callbackConfig.args[i] + '\', '
              }
              onclickString += ')';
              confirmButton.attr('onclick', onclickString);
          }
          confirmButton.prop('disabled', false);
          $('#confirm_bar').show();
          $('#dialog_text').text(text);
          $('#dialog').show();
      }

      var clickTimeout;

      function baseButtonClick(event, jsonData, targetURL, callback) {
          /* Protect buttons from multiple clicks by disabling them and
           * using timeout to avoid multiple ajax calls if somehow two calls
           * made it through disabled button */
          let target = $(event.target);
          if (!target.is('button')) {
              /* Find first parent button, event might have
               * caught span element in button */
              target = target.parent('button');
          }
          target.prop('disabled', true);
          clearTimeout(clickTimeout);
          document.body.style.cursor = 'wait';
          clickTimeout = setTimeout(function () {
              jsonData['csrfmiddlewaretoken'] = '{{ csrf_token }}';
              $.ajax({
                  type: 'POST',
                  url: targetURL,
                  data: jsonData,
                  dataType: "json",
                  async: true,
                  success: function (json) {
                      document.body.style.cursor = 'default';
                      callback(json);
                  },
                  error: function (xhr, error) {
                      console.log("AJAX failure");
                      console.log(xhr);
                      console.log(error);
                  }
              });
          }, 20);
      }


      function xhrRedirect(targetURL) {
          let xhr = new XMLHttpRequest();
          xhr.open('POST', targetURL, true);
          xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          xhr.onload = function () {
              {#location.reload();#}
              {#document.open('text/html');#}
              {#document.write(this.responseText);#}
              {#document.close();#}
          };
          xhr.send('csrfmiddlewaretoken={{ csrf_token }}');
      }


      $(document).ready(function () {
          let path = window.location.pathname;
          let sectionID = sessionStorage.getItem(path + "selected_section");
          if (sectionID) {
              showSection(null, sectionID);
          } else {
              let tabs = $('.section-tab');
              if (tabs.length > 0) {
                  let firstTab = tabs.first();
                  firstTab.addClass('w3-border-red');
                  if (firstTab.attr('id').endsWith('_tab')) {
                      let sectionID = firstTab.attr('id').slice(0, -4);
                      let section = $('#' + sectionID);
                      if (section) {
                          section.show();
                      }
                  }
              }
          }
      });

  </script>

  {% block scripts %}
  {% endblock %}
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
       href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>

    <a href="{% url 'leagues:games' %}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4 logoText"
       title="Homepage">
      <i class="fa fa-home w3-margin-right"></i>Leagues
    </a>

    <a href="{% url 'leagues:games' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
       title="Games">
      <i class="fa fa-gamepad"></i>
    </a>

    <a href="{% url 'leagues:social' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
       title="Social">
      <i class="fa fa-user"></i>
    </a>

    <a href="{% url 'leagues:tournaments' %}"
       class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
       title="Tournaments">
      <i class="fa fa-trophy"></i>
    </a>

    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i>
      </button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
        <a href="#" class="w3-bar-item w3-button">One new friend request</a>
        <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
        <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
      </div>
    </div>

    {% if user.is_authenticated %}
      <a href="{% url 'leagues:settings' %}"
         class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Management">
        <i class="fa fa-cog"></i>
      </a>
    {% endif %}

    {% if user.is_authenticated %}
      <a href="{% url 'leagues:logout' %}"
         class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
         title="My Account">
        Account <i class="fa fa-user-circle"></i>
      </a>
    {% else %}
      <a href="{% url 'leagues:login' %}"
         class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
         title="Annonymous user">Log in
        <i class="fa fa-user-secret w3-margin-left"></i>
      </a>
    {% endif %}
  </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<div class="w3-container" style="flex:1 0 auto;">

  <div class="flex-container" style="flex-wrap: nowrap">

    <!-- Left Column -->
    {% block left_panel %}
      {% if user.is_authenticated and side_bars_enabled %}
        <div style="max-width: 300px; flex: 1 1 0">
          <!-- Profile -->
          <div class="w3-card w3-round w3-white">
            <div class="w3-container">
              <h4 class="w3-center">{{ user.player.nickname }}</h4>
              <p class="w3-center">
                {% if user.player.image_url %}
                  <img src="{{ user.player.image_url }}" class="w3-circle"
                       style="height:106px;width:106px" alt="Avatar">
                {% else %}
                  <img src="{% static 'leagues/images/default_avatar.png' %}" class="w3-circle"
                       style="height:106px;width:106px" alt="Avatar">
                {% endif %}
              </p>
              <hr>
              <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
              <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
                {{ user.player.country|default:"Unknown" }}
              </p>
              <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>
                {{ user.player.birth_date|default:"Unknown" }}
              </p>
            </div>
          </div>
          <br>

          <!-- Accordion -->
          <div class="w3-card w3-round">
            <div class="w3-white">
              <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align">
                <i
                    class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups
              </button>
              <div id="Demo1" class="w3-hide w3-container">
                <p>Some text..</p>
              </div>
              <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align">
                <i
                    class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events
              </button>
              <div id="Demo2" class="w3-hide w3-container">
                <p>Some other text..</p>
              </div>
              <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align">
                <i
                    class="fa fa-users fa-fw w3-margin-right"></i> My Photos
              </button>
              <div id="Demo3" class="w3-hide w3-container">
                <div class="w3-row-padding">
                </div>
              </div>
            </div>
          </div>
          <br>

          <!-- Interests -->
          <div class="w3-card w3-round w3-white w3-hide-small">
            <div class="w3-container">
              <p>Interests</p>
              <p>
                <span class="w3-tag w3-small w3-theme-d5">News</span>
                <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
                <span class="w3-tag w3-small w3-theme-d3">Labels</span>
                <span class="w3-tag w3-small w3-theme-d2">Games</span>
                <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                <span class="w3-tag w3-small w3-theme">Games</span>
                <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                <span class="w3-tag w3-small w3-theme-l2">Food</span>
                <span class="w3-tag w3-small w3-theme-l3">Design</span>
                <span class="w3-tag w3-small w3-theme-l4">Art</span>
                <span class="w3-tag w3-small w3-theme-l5">Photos</span>
              </p>
            </div>
          </div>
          <br>

          <!-- Alert Box -->
          <div
              class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
                        <span onclick="$(this).parent().hide()" class="w3-button w3-theme-l3 w3-display-topright">
                            <i class="fa fa-remove"></i>
                        </span>
            <p><strong>Hey!</strong></p>
            <p>People are looking at your profile. Find out who.</p>
          </div>
        </div>
      {% endif %}
    {% endblock %}
    <!-- End Left Column -->




    {% block content %}
    {% endblock %}




    <!-- Right Column -->
    {% block right_panel %}
      {% if user.is_authenticated and side_bars_enabled %}
        <div style="max-width: 200px; flex: 1 1 0">
          <div class="w3-card w3-round w3-white w3-center">
            <div class="w3-container">
              <p>Upcoming Events:</p>
              <p><strong>Holiday</strong></p>
              <p>Friday 15:00</p>
              <p>
                <button class="w3-button w3-block w3-theme-l4">Info</button>
              </p>
            </div>
          </div>
          <br>

          <div class="w3-card w3-round w3-white w3-center">
            <div class="w3-container">
              <p>Friend Request</p>
              <span>Jane Doe</span>
              <div class="w3-row w3-opacity">
                <div class="w3-half">
                  <button class="w3-button w3-block w3-green w3-section" title="Accept"><i
                      class="fa fa-check"></i></button>
                </div>
                <div class="w3-half">
                  <button class="w3-button w3-block w3-red w3-section" title="Decline"><i
                      class="fa fa-remove"></i></button>
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
            <p>ADS</p>
          </div>
          <br>

          <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
            <p><i class="fa fa-bug w3-xxlarge"></i></p>
          </div>
        </div>
      {% endif %}
    {% endblock %}
    <!-- End Right Column -->

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>


<div id="dialog" class="w3-modal" style="display: none">
  <div class="w3-modal-content w3-card-4" style="max-width:600px">

    <header class="w3-container w3-center w3-light-grey w3-border-bottom"
            style="padding: 0 60px 0 60px">
      <h3 id="dialog_text">Placeholder Text</h3>

      <button onclick="$('#dialog').hide()" type="button" id="dialog_close"
              class="w3-button w3-display-topright w3-red">
        <i class="fa fa-times"></i>
      </button>
    </header>

    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey" id="confirm_bar">
      <button onclick="$('#dialog').hide()" type="button" id="dialog_decline"
              class="w3-button w3-red">No
      </button>

      <button onclick="$('#dialog').hide()" type="button" id="dialog_confirm"
              class="w3-button w3-green w3-right">Yes
      </button>
    </div>
  </div>
</div>
{% block endpage %}
{% endblock %}
<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Leagues|THE place for gamers</p>
</footer>

</body>
</html>
