<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <script src="{% static 'leagues/js/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'leagues/css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'leagues/css/style.css' %}">

    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {{ game_form.media }}

    <script src="{% static 'leagues/js/table_handler.js' %}"></script>
    <script>
        // Accordion
        function myFunction(id) {
            let block = $("#" + id);
            if (block) {
                block.toggleClass('w3-show');
                block.prev().toggleClass('w3-theme-d1');
            }
        }

        function showSection(event, sectionID) {
            $('.section').hide();
            $('#' + sectionID).show();
            $('.section-tab').removeClass('w3-border-red');
            $(event.target).addClass('w3-border-red');
        }

        function showGameInfo(event, id) {
            $(event.target).children().first().toggleClass('fa-angle-double-down');
            $(event.target).children().first().toggleClass('fa-angle-double-up');
            $("#" + id).toggleClass('accordion_open');
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            let item = $("#navDemo");
            if (item) {
                item.toggleClass('w3-show');
            }
        }

        function OpenCreateModal(modalID) {
            let objectType = modalID.split('_')[0];
            let modal = $('#' + modalID);
            let modalTitle = $('.modalTitle', modal);
            let form = $('form', modal);
            let formAction = $('.formAction', form);
            let formSubmit = $('.formSubmit', form);
            let formUnique = $('.formUnique', form);
            let formID = $('.formID', form);
            modalTitle.text('Create ' + objectType);
            formAction.val(objectType + '_create');
            formSubmit.val('Create ' + objectType);
            form[0].reset();
            modal.show();
        }


        function OpenEditModal(modalID, objectID) {
            console.log(objectID);
            let objectType = modalID.split('_')[0];
            let modal = $('#' + modalID);
            let modalTitle = $('.modalTitle', modal);
            let form = $('form', modal);
            let formAction = $('.formAction', form);
            let formSubmit = $('.formSubmit', form);
            let formUnique = $('.formUnique', form);
            let formID = $('.formID', form);

            $.ajax({
                type: "GET",
                dataType: "json",
                async: true,
                url: "{% url 'leagues:settings' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'action': 'edit',
                    'type': modalID,
                    'object_id': objectID,
                },
                success: function (json) {
                    console.log("AJAX success");
                    $.each(json, function (key, value) {
                        let field = $('#id_' + modalID + '-' + key);
                        field.val(value);
                    });
                    modalTitle.text('Edit \'' + formUnique.val() + '\'');
                    formAction.val(objectType + '_edit');
                    formSubmit.val('Save changes');
                    formID.val(objectID);

                    modal.show();
                },
                error: function (xhr, error) {
                    console.log("AJAX failure");
                    console.log(xhr);
                    console.log(error);
                }
            });
        }
    </script>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
           href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>

        <a href="{% url 'leagues:games' %}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4 logoText"
           title="Homepage">
            <i class="fa fa-home w3-margin-right"></i>Leagues
        </a>

        <a href="{% url 'leagues:games' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
           title="Games">
            <i class="fa fa-gamepad"></i>
        </a>

        <a href="{% url 'leagues:social' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
           title="Players">
            <i class="fa fa-user"></i>
        </a>

        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Tournaments">
            <i class="fa fa-trophy"></i>
        </a>

        <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i>
            </button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                <a href="#" class="w3-bar-item w3-button">One new friend request</a>
                <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
                <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
            </div>
        </div>

        {% if user.is_authenticated %}
            <a href="{% url 'leagues:settings' %}"
               class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Management">
                <i class="fa fa-cog"></i>
            </a>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'leagues:logout' %}"
               class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
               title="My Account">
                Account <i class="fa fa-user-circle"></i>
            </a>
        {% else %}
            <a href="{% url 'leagues:login' %}"
               class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
               title="Annonymous user">Log in
                <i class="fa fa-user-secret w3-margin-left"></i>
            </a>
        {% endif %}
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<div class="w3-container" style="flex:1 0 auto;">

    <div class="flex-container" style="flex-wrap: nowrap">
        <!-- Left Column -->

{#        {% if user.is_authenticated %}#}
{#            <div style="max-width: 300px; flex: 1 1 0">#}
{#                <!-- Profile -->#}
{#                {% include "leagues/left_panel.html" %}#}
{##}
{#                <!-- End Left Column -->#}
{#            </div>#}
{#        {% endif %}#}

        {% block content %}
        {% endblock %}

{#        {% if user.is_authenticated %}#}
{#            <div style="max-width: 200px; flex: 1 1 0">#}
{#                {% include "leagues/right_panel.html" %}#}
{##}
{#                <!-- End Right Column -->#}
{#            </div>#}
{#        {% endif %}#}

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>

{% block endpage %}
{% endblock %}
<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
    <p>Leagues|THE place for gamers</p>
</footer>

</body>
</html>
