{% extends 'leagues/base.html' %}
{% block title %}Clans | {{ clan.name }} {% endblock %}


{% block scripts %}
  <script>
      function buttonClick(event, object_id, action) {
          let url = '{% url 'leagues:clan_detail' clan.slug %}';
          let data = {
              'action': action,
              'object_id': object_id
          };

          function callback(json) {
              if (json['has_clan_teams']) {
                  openDialog('Do you really wish to leave all clan\'s teams?',
                      new CallbackConfig([object_id, 'force_leave_clan']));
              } else if (json['need_clan']) {
                  openDialog('Do you wish to join team\'s clan?',
                      new CallbackConfig([object_id, 'force_join_team']));
              } else {
                  location.reload();
              }
          }

          baseButtonClick(event, data, url, callback);
      }
  </script>
{% endblock %}

{% block left_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock left_panel %}


{% block content %}
  <div class="w3-container w3-margin-bottom flex-container" style="flex: 2 1 0;">
    <div class="w3-card w3-round-large w3-white" style="flex: 1 1 auto;">
      <header>
        <h1 style="text-align: center; font-family: 'Audiowide', cursive;">{{ clan.name }}</h1>

        <ul class="section-bar" style="flex: 1 1 auto">
          <li onclick="showSection(event, 'info');" id="info_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Clan info
          </li>
          <li onclick="showSection(event, 'teams');" id="teams_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Teams
          </li>
          <li onclick="showSection(event, 'members');" id="members_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Members
          </li>
          <li onclick="showSection(event, 'stats');" id="stats_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Statistics
          </li>
        </ul>
      </header>

      <div id="info" class="w3-container w3-section section" style="position: relative;">

        <div class="button_bar" style="position: relative;overflow: auto;">
          {% if user.player.clan == clan %}
            <button type="button" class="w3-button w3-round w3-red"
                    style="float: right;"
                    onclick="openDialog('Do you really wish to leave this clan?',
                        new CallbackConfig([{{ user.player.id }}, 'leave_clan']));">
              Leave
            </button>
          {% else %}
            <button type="button" class="w3-button w3-round w3-green"
                    style="float: right;"
                    onclick="buttonClick(event, {{ user.player.id }}, 'join_clan')">
              Join
            </button>
          {% endif %}
        </div>


        <h4><b>Active:</b>
          {% if clan.active %}
            <i class="fas fa-check-circle"></i>
          {% else %}
            <i class="fas fa-times-circle"></i>
          {% endif %}
        </h4>

        <h4><b>Leader:</b>
          {% if clan.leader %}
            <a href="{% url 'leagues:player_detail' clan.leader.slug %}">{{ clan.leader }}</a>
          {% else %}
            None
          {% endif %}
        </h4>

        <h4><b>Founded:</b> {{ clan.founded|default:""|date:"j.n.Y" }}</h4>

        <h4><b>Description:</b></h4>
        <article class="w3-container">
          <p style="margin:0;">{{ clan.description }}</p>
        </article>
      </div>


      <div id="teams" class="w3-container w3-section section">
        {% if user.player == clan.leader %}
          <h3>Team requests</h3>
          <div class="pagedTable w3-card w3-round w3-margin-bottom">
            <table class="w3-table w3-striped w3-bordered w3-hoverable">
              <thead>
              <tr class="">
                <th>Name</th>
                <th>Leader</th>
                <th>Win ratio</th>
                <th></th>
              </tr>
              </thead>

              <tbody id="team_requests_rows">
              {% for team in clan.team_requests.all %}
                <tr style="display: none">
                  <td>
                    <a href="{% url 'leagues:team_detail' team.slug %}">
                      {{ team.name }}
                    </a>
                  </td>
                  <td>
                    {% if team.leader %}
                      <a href="{% url 'leagues:player_detail' team.leader.slug %}">
                        {{ team.leader.nickname }}
                      </a>
                    {% else %}
                      None
                    {% endif %}
                  </td>
                  <td>{{ team.win_ratio|default:"No matches" }}</td>

                  <td class="w3-padding-3 w3-small table_button_center">
                    <button onclick="buttonClick(event, {{ team.id }}, 'decline_team_request')"
                            class="w3-button w3-red table_button red_button">
                      Decline
                    </button>
                    <button onclick="buttonClick(event, {{ team.id }}, 'accept_team_request')"
                            class="w3-button w3-green table_button green_button">
                      Accept
                    </button>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% include 'leagues/table_footer.html' %}
          </div>
        {% endif %}


        <h3>Teams</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Name</th>
              <th>Leader</th>
              <th>Win ratio</th>
              <th></th>
            </tr>
            </thead>

            <tbody id="team_rows">
            {% for team in clan.team_set.all %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:team_detail' team.slug %}">
                    {{ team.name }}
                  </a>
                </td>
                <td>
                  {% if team.leader %}
                    <a href="{% url 'leagues:player_detail' team.leader.slug %}">
                      {{ team.leader.nickname }}
                    </a>
                  {% else %}
                    None
                  {% endif %}
                </td>
                <td>{{ team.win_ratio|default:"No matches" }}</td>

                <td class="w3-padding-3 w3-small table_button_center">
                  <button onclick="buttonClick(event, {{ team.id }}, 'remove_team')"
                          class="w3-button w3-red table_button red_button">
                    Remove
                  </button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>

      <div id="members" class="w3-container w3-section section">
        {% if user.player == clan.leader %}
          <h3>Membership requests</h3>
          <div class="pagedTable w3-card w3-round w3-margin-bottom">
            <table class="w3-table w3-striped w3-bordered w3-hoverable">
              <thead>
              <tr class="">
                <th>Nickname</th>
                <th></th>
              </tr>
              </thead>

              <tbody id="player_requests_rows">
              {% for player in membership_requests %}
                <tr style="display: none">
                  <td>
                    <a href="{% url 'leagues:player_detail' player.slug %}">
                      {{ player.nickname }}
                    </a>
                  </td>

                  <td class="w3-padding-3 w3-small table_button_center">
                    <button onclick="buttonClick(event, {{ player.id }}, 'decline_player_request')"
                            class="w3-button w3-red table_button red_button">
                      Decline
                    </button>
                    <button onclick="buttonClick(event, {{ player.id }}, 'accept_player_request')"
                            class="w3-button w3-green table_button green_button">
                      Accept
                    </button>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% include 'leagues/table_footer.html' %}
          </div>
        {% endif %}


        <h3>Members</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Nickname</th>
              <th>Matches won</th>
              <th>Matches total</th>
              <th>Win ratio</th>
              {% if user.player == clan.leader %}
                <th></th>
              {% endif %}
            </tr>
            </thead>

            <tbody id="member_rows">
            {% for member in member_stats %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:player_detail' member.0.slug %}">
                    {{ member.0.nickname }}
                  </a>
                </td>
                <td>{{ member.2 }}</td>
                <td>{{ member.1 }}</td>
                <td>{{ member.3|default:"No matches" }}</td>
                {% if user.player == clan.leader %}
                  <td class="w3-padding-3 w3-small table_button_center">
                    {% if member.0 != clan.leader %}
                      <button class="w3-button w3-red table_button red_button"
                              onclick="openDialog('Do you really wish to kick player ' +
                                  '\'{{ member.0.nickname }}\' from clan \'{{ clan.name }}\'' +
                                  'and from all teams from this clan?',
                                  new CallbackConfig([{{ member.0.id }}, 'kick_player']));">
                        Kick
                      </button>
                    {% endif %}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>

      <div id="stats" class="w3-container w3-section section">
        <div id="overall_stats" class="w3-margin-bottom">
          <h3 style="text-align: center;"><b>Overall</b></h3>
          <h4><b>Win ratio:</b> {{ stats.2|default:"No matches" }}</h4>
          <h4><b>Member count:</b> {{ clan.clan_members.count }}</h4>
          <h4><b>Matches played:</b> {{ stats.0 }}</h4>
          <h4><b>Matches won:</b> {{ stats.1 }}</h4>
        </div>

        <div id="game_stats">
          <h3 style="text-align: center;"><b>Game based</b></h3>
          <div class="pagedTable w3-card w3-round">
            <table class="w3-table w3-striped w3-bordered w3-hoverable">
              <thead>
              <tr class="">
                <th>Game</th>
                <th>Matches won</th>
                <th>Matches total</th>
                <th>Win ratio</th>
              </tr>
              </thead>

              <tbody id="games_rows">
              {% for game in game_stats %}
                <tr style="display: none">
                  <td>
                    <a href="{% url 'leagues:game_detail' game.0.slug %}">
                      {{ game.0.name }}
                    </a>
                  </td>
                  <td>{{ game.1 }}</td>
                  <td>{{ game.2 }}</td>
                  <td>{{ game.3 }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% include 'leagues/table_footer.html' %}
          </div>
        </div>

      </div>

    </div>
  </div>
{% endblock %}

