{% extends 'leagues/base.html' %}
{% block title %}Leagues | Games{% endblock %}

{% block left_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock left_panel %}

{% block content %}
  <!-- Middle Column -->
  <div style="flex: 2 1 0">
    <div class="w3-container flex-container">
      {% for game in game_list %}
        <div class="w3-card-4 flex-item gameCard">
          <header class="w3-block w3-center gameHeader">
            {% if game.image_url %}
              <img src="{{ game.image_url }}" alt="{{ game.name }}" class="gameImg">
            {% else %}
              <h3 class="w3-text-white w3-display-middle">No image</h3>
            {% endif %}
          </header>
          <div class="w3-container w3-center">
            <a href="{% url 'leagues:game_detail' game.slug %}" class="w3-block w3-section-8 gameLink">
              {{ game.name }}
            </a>

            <div id="game_info_{{ game.id }}" class="accordion">
              <ul class="w3-ul">
                <li>Released: {{ game.release_date|default:"unknown" }}</li>
                <li>Genre: {{ game.genre|default:"unknown" }}</li>
                <li>Publisher: {{ game.publisher|default:"unknown" }}</li>
              </ul>
            </div>
          </div>
          <button onclick="showGameInfo(event, 'game_info_{{ game.id }}')" class="w3-block w3-button"
                  style="padding: 0">
            <i class="fa fa-angle-double-down"></i>
          </button>
        </div>
      {% endfor %}
    </div>
    <!-- End Middle Column -->
  </div>
{% endblock %}
