{% extends 'leagues/base.html' %}
{% load staticfiles %}
{% block title %}Games | {{ game.name }}{% endblock %}


{% block left_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock left_panel %}


{% block content %}
  <div class="w3-container w3-margin-bottom flex-container" style="flex: 1 1 0;">
    <div class="w3-card w3-round-large w3-white" style="width: 100%; max-width: 1000px">
      <header>
        <h1 style="text-align: center; font-family: 'Audiowide', cursive;">{{ team.name }}</h1>

        <ul class="section-bar" style="flex: 1 1 auto">
          <li onclick="showSection(event, 'info');" id="info_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Game info
          </li>
          <li onclick="showSection(event, 'members');" id="members_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Professional players
          </li>
        </ul>
      </header>
      <div id="info" class="w3-container w3-section section">
        <h4>Name:
          {{ game.name }}
        </h4>

        <h4>Release date:
          {{ game.release_date|default:"None" }}
        </h4>

        <h4>Publisher:
          {{ game.publisher|default:"None" }}
        </h4>

        <h4>Genre:
          <a href="{% url 'leagues:genre_detail' game.genre.slug %}">{{ game.genre.name }}</a>
        </h4>
        <h4>Game modes:</h4>
        <ul>
          {% for mode in game.game_modes.all %}
            <li>
              <a href="{% url 'leagues:game_mode_detail' mode.slug %}">
                {{ mode.name }}
              </a>
            </li>
          {% endfor %}
        </ul>

        <h4>Number of players:
          {{ game.player_set.count }}
        </h4>

        <h4>Description:</h4>
        <article class="w3-container">
          <p style="margin:0;">{{ game.description }}</p>
        </article>
      </div>

      <div id="members" class="w3-container w3-section section">
        <h3>Professional players</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Nickname</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Clan</th>
            </tr>
            </thead>

            <tbody id="member_rows">
            {% for player in players %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:player_detail' player.slug %}">
                    {{ player.nickname }}
                  </a>
                </td>
                <td>{{ player.first_name }}</td>
                <td>{{ player.last_name }}</td>
                <td>
                  <a href="{% url 'leagues:clan_detail' player.clan.slug %}">
                    {{ player.clan.name }}
                  </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block right_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock right_panel %}

