{% extends 'leagues/base.html' %}
{% block title %}Players | {{ player.nickname }} {% endblock %}

{% block content %}
    <div style="flex: 1 0 auto">
        <div class="flex-container">
            <div class="w3-card w3-round-large w3-white" style="max-width: 1000px; flex: 1 0 auto;">
                {% if user.player.nickname == player.nickname %}
                {#  TODO upravit edit button (vykopirovano z games) #}
                    <header class="w3-block w3-center gameImg">
                        <button type="button" class="w3-display-topleft w3-white gameEdit"
                                onclick="$('#player_edit').show()">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </header>
                {% endif %}
                <!-- PLAYER INFO !-->
                <h1 style="text-align: center">{{ player.nickname }}</h1>
                <p>{{ player.first_name }}<br/>{{ player.last_name }}<br/>{{ player.birth_date }}<br/>{{ player.country }}</p>
                <!-- TEAM TABLE !-->
                <h3 style="text-align: center;">Teams</h3>
                <div class="pagedTable w3-card w3-round">
                    <table class="w3-table w3-striped w3-bordered w3-hoverable">
                        <thead>
                        <tr class="">
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody id="players_rows">
                        {% for team in player.teams.all %}
                            <tr data-href="{% url 'leagues:team_detail' team.slug %}" style="display: none">
                                <td>{{ team.name }}</td>
                                <td class="edit_object" onclick="$('#team_alert' + {{ team.id }}).show()">
                                        Leave<i class="fa fa-pencil-square-o" style="margin-left:10px"></i>
                                    </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <footer class="w3-small flex-container">
                        <button class="prevButton w3-padding-3 w3-button"
                                style="flex:1 0 0; align-self: stretch;">
                            &#10094; Previous
                        </button>
                        <label type="hidden" for="players_range"></label>
                        <select id="players_range" class="rowsRangeSelector w3-padding-3 w3-select" name="option"
                                style="flex:4 0 0;">
                            <option selected value="5">5 rows</option>
                            <option value="10">10 rows</option>
                            <option value="15">15 rows</option>
                            <option value="50">50 rows</option>
                            <option value="100">100 rows</option>
                        </select>
                        <button class="nextButton w3-padding-3 w3-button"
                                style="flex:1 0 0; align-self: stretch;">
                            Next &#10095;
                        </button>
                    </footer>
                </div>
                <!-- CLAN TABLE !-->
                <h3 style="text-align: center;">Clans</h3>
                <div class="pagedTable w3-card w3-round">
                    <table class="w3-table w3-striped w3-bordered w3-hoverable">
                        <thead>
                        <tr class="">
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody id="players_rows">
                        {% for clan in player.clans.all %}
                            <tr data-href="{% url 'leagues:team_detail' clan.slug %}" style="display: none">
                                <td>{{ clan.name }}</td>
                                <td class="edit_object" onclick="$('#clan_alert' + {{ clan.id }}).show()">
                                        Leave<i class="fa fa-pencil-square-o" style="margin-left:10px"></i>
                                    </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <footer class="w3-small flex-container">
                        <button class="prevButton w3-padding-3 w3-button"
                                style="flex:1 0 0; align-self: stretch;">
                            &#10094; Previous
                        </button>
                        <label type="hidden" for="players_range"></label>
                        <select id="players_range" class="rowsRangeSelector w3-padding-3 w3-select" name="option"
                                style="flex:4 0 0;">
                            <option selected value="5">5 rows</option>
                            <option value="10">10 rows</option>
                            <option value="15">15 rows</option>
                            <option value="50">50 rows</option>
                            <option value="100">100 rows</option>
                        </select>
                        <button class="nextButton w3-padding-3 w3-button"
                                style="flex:1 0 0; align-self: stretch;">
                            Next &#10095;
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block endpage %}
{% load widget_tweaks %}
    <!--  LEAVE TEAM ALLERT !-->
    {% for team in player.teams.all %}
        <div id="team_alert{{ team.id }}" class="w3-modal" {% if edit_form.errors %}style="display: block"{% endif %}>
            <div class="w3-modal-content w3-card-4" style="max-width:600px">

                <header class="w3-container w3-center w3-light-grey w3-border-bottom">
                    <h3>Do you really want to leave {{ team.name }}</h3>

                    <button onclick="$('#team_alert' + {{ team.id }}).hide()" type="button"
                            class="w3-button w3-display-topright w3-red">
                        <i class="fa fa-times"></i>
                    </button>
                </header>

                <form method="POST" class="" action="{% url 'leagues:player_detail' player.slug %}" name="team_leave">{% csrf_token %}
                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                        <button onclick="$('#team_alert' + {{ team.id }}).hide()" type="button"
                                class="w3-button w3-red">No
                        </button>
                        <input type="hidden" name="player_id" value="{{ player.id }}">
                        <input type="hidden" name="team_id" value="{{ team.id }}">
                        <input class="w3-button w3-green w3-right" type="submit" name="{{ team.name }}"
                               value="Yes">
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
    <!--  LEAVE CLAN ALLERT !-->
    {% for clan in player.clans.all %}
        <div id="clan_alert{{ clan.id }}" class="w3-modal" {% if edit_form.errors %}style="display: block"{% endif %}>
            <div class="w3-modal-content w3-card-4" style="max-width:600px">

                <header class="w3-container w3-center w3-light-grey w3-border-bottom">
                    <h3>Do you really want to leave {{ clan.name }}</h3>

                    <button onclick="$('#clan_alert' + {{ clan.id }}).hide()" type="button"
                            class="w3-button w3-display-topright w3-red">
                        <i class="fa fa-times"></i>
                    </button>
                </header>

                <form method="POST" class="" action="{% url 'leagues:player_detail' player.slug %}" name="clan_leave">{% csrf_token %}
                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                        <button onclick="$('#clan_alert' + {{ clan.id }}).hide()" type="button"
                                class="w3-button w3-red">No
                        </button>
                        <input type="hidden" name="player_id" value="{{ player.id }}">
                        <input type="hidden" name="clan_id" value="{{ clan.id }}">
                        <input class="w3-button w3-green w3-right" type="submit" name="{{ clan.name }}"
                               value="Yes">
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
    <!--  PLAYER INFO FORM !-->
    <div id="player_edit" class="w3-modal" {% if edit_form.errors %}
         style="display: block" {% endif %}>
        <div class="w3-modal-content w3-card-4" style="max-width:600px">

            <header class="w3-container w3-center w3-light-grey w3-border-bottom">
                <h3>Edit '{{ edit_form.first_name.value }}'</h3>

                <button onclick="$('#player_edit').hide()" type="button"
                        class="w3-button w3-display-topright w3-red">
                    <i class="fa fa-times"></i>
                </button>
            </header>

            <form method="POST" class="" action="{% url 'leagues:player_detail' player.slug %}" name="player_edit">
                <div class="w3-section w3-container">
                    {% csrf_token %}
                    {% if edit_form.errors %}
                        <div class="w3-container w3-padding-16 w3-margin-bottom w3-red w3-round-large">
                            {{ edit_form.errors }}
                        </div>
                    {% endif %}

                    <label><b>{{ edit_form.first_name.label_tag }}</b></label>
                    {% render_field edit_form.first_name class+="w3-input w3-border w3-margin-bottom" %}
                    <label><b>{{ edit_form.last_name.label_tag }}</b></label>
                    {% render_field edit_form.last_name class+="w3-input w3-border w3-margin-bottom" %}
                    <label><b>{{ edit_form.nickname.label_tag }}</b></label>
                    {% render_field edit_form.nickname class+="w3-input w3-border w3-margin-bottom" %}
                </div>
                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                    <button onclick="$('#player_edit').hide()" type="button"
                            class="w3-button w3-red">Close
                    </button>

                    <input class="w3-button w3-green w3-right" type="submit" name="{{ edit_form.prefix }}"
                           value="Save changes">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

