{% extends 'leagues/base.html' %}
{% block title %}Players | {{ player.nickname }} {% endblock %}


{% block scripts %}
  <script>
      function buttonClick(event, object_id, action) {
          let url = '{% url 'leagues:player_detail' player.slug %}';
          let data = {
              'action': action,
              'object_id': object_id
          };

          function callback(json) {
              console.log("test");
              if (json['has_clan_teams']) {
                  openDialog('Do you really wish to leave all clan\'s teams?',
                      new CallbackConfig([object_id, 'force_leave_clan']));
              } else {
                  location.reload();
              }
          }

          baseButtonClick(event, data, url, callback);
      }
  </script>
{% endblock %}

{% block left_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock left_panel %}


{% block content %}
  <div class="w3-container w3-margin-bottom flex-container" style="flex: 2 1 0;">
    <div class="w3-card w3-round-large w3-white" style="max-width: 1000px; flex: 1 1 auto;">
      <header>
        <h1 style="text-align: center; font-family: 'Audiowide', cursive;">{{ player.nickname }}</h1>
        {% if player.clan %}
          <h4 style="text-align: center; font-family: 'Audiowide', cursive;">
            CLAN:
            <a href="{% url 'leagues:clan_detail' player.clan.slug %}"
               style="text-align: center; font-family: 'Audiowide', cursive;">
              {{ player.clan.name }}
            </a>
          </h4>
        {% endif %}
        <ul class="section-bar" style="flex: 1 1 auto">
          <li onclick="showSection(event, 'info');" id="info_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Player info
          </li>
          <li onclick="showSection(event, 'teams');" id="teams_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Teams
          </li>
          <li onclick="showSection(event, 'matches');" id="matches_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Matches
          </li>
          <li onclick="showSection(event, 'stats');" id="stats_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Statistics
          </li>
        </ul>
      </header>

      <div id="info" class="w3-container w3-section section" style="position: relative;">
        {% if user.player == player %}
          <div>
            <button type="button" class="w3-round w3-green w3-button w3-margin-right green_button"
                    onclick="$('#{{ player_form.prefix }}').show()">
              Edit <i class="fas fa-edit"></i>
            </button>
            {% if player.clan %}
              <button class="w3-round w3-red w3-button red_button"
                      onclick="openDialog('Do you really wish to leave clan \'{{ player.clan.name }}\'',
                          new CallbackConfig([{{ player.clan.id }}, 'leave_clan']));">
                Leave clan
              </button>
            {% endif %}
          </div>
        {% endif %}

        {% if player.image_url %}
          <div class="w3-border w3-padding" style="float: right;">
            <img src="{{ player.image_url }}" class="w3-circle"
                 style="height:100px;width:100px" alt="Avatar">
          </div>
        {% endif %}

        <!-- PLAYER INFO !-->
        <h4><b>First name:</b> {{ player.first_name }}</h4>
        <h4><b>Last name:</b> {{ player.last_name }}</h4>
        <h4><b>Age:</b> {{ player.age }}</h4>
        <h4><b>Birth date:</b> {{ player.birth_date|date:"j.n.Y" }}</h4>
        <h4><b>Country of origin:</b> {{ player.country.name }}</h4>
        <h4>
          <b>Description:</b>
        </h4>
        <article class="w3-container">
          <p style="margin:0;">{{ player.description }}</p>
        </article>
      </div>


      <div id="teams" class="w3-container w3-section section">
        <h3>Teams</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr>
              <th>Name</th>
              <th>Leader</th>
              <th>Win ratio</th>
              {% if user.player == player %}
                <th></th>
              {% endif %}
            </tr>
            </thead>

            <tbody id="team_rows">
            {% for team in player.teams.all %}
              <tr>
                <td>
                  <a href="{% url 'leagues:team_detail' team.slug %}">
                    {{ team.name }}
                  </a>
                </td>

                <td>
                  <a href="{% url 'leagues:player_detail' team.leader.slug %}">
                    {{ team.leader }}
                  </a>
                </td>

                <td>
                  {{ team.win_ratio }}
                </td>

                {% if user.player == player %}
                  <td class="w3-padding-3 w3-small table_button_center">
                    <button onclick="openDialog('Do you really wish to leave team \'{{ team.name }}\'',
                        new CallbackConfig([{{ team.id }}, 'leave_team']));"
                            class="w3-button w3-red table_button red_button">
                      Leave
                    </button>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>


      <div id="matches" class="w3-container w3-section section">
        <h3>Matches</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Team</th>
              <th>Winner</th>
              <th>Tournament</th>
              <th>Game</th>
              <th></th>
            </tr>
            </thead>

            <tbody id="stat_rows">
            {% for match in player.playedmatch_set.all %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:team_detail' match.team.slug %}">
                    {{ match.team }}
                  </a>

                </td>
                <td>
                  <a href="{% url 'leagues:team_detail' match.match.winner.slug %}">
                    {{ match.match.winner }}
                  </a>
                </td>
                <td>
                  {% if match.match.tournament %}
                  <a href="{% url 'leagues:tournament_detail' match.match.tournament.slug %}">
                    {{ match.match.tournament }}
                  </a>
                  {% else %}
                    {{ match.match.tournament }}
                  {% endif %}
                </td>
                <td>{{ match.match.game }}</td>
                <td><a href="{% url 'leagues:match_detail' match.match.id %}"><i class="fa fa-eye"></i></a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>


      <div id="stats" class="w3-container w3-section section">
        <h3>Statistics</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Game</th>
              <th>K/D ratio</th>
              <th>Win ratio</th>
            </tr>
            </thead>

            <tbody id="stat_rows">
            {% for record in player_stats %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:game_detail' record.0.slug %}">
                    {{ record.0.name }}
                  </a>
                </td>
                <td>{{ record.1 }}</td>
                <td>{{ record.2 }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block right_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock right_panel %}


{% block endpage %}
  {% load widget_tweaks %}

  <!--  PLAYER INFO FORM !-->
  <div id="{{ player_form.prefix }}" class="w3-modal" {% if player_form.errors %}
       style="display: block" {% endif %}>
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Edit '{{ player_form.nickname.value }}'</h3>

        <button onclick="$('#{{ player_form.prefix }}').hide()" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:player_detail' player.slug %}">
        <div class="w3-section w3-container">
          {% csrf_token %}
          {% include 'leagues/form_errors.html' with errors=player_form.errors %}

          {{ player_form.user.as_hidden }}

          <label><b>{{ player_form.nickname.label_tag }}</b></label>
          {% render_field player_form.nickname class+="formUnique w3-input w3-border w3-margin-bottom" %}

          <div class="w3-margin-bottom input-flex">
            <div class="w3-margin-right" style="flex:1 0 0;">
              <label><b>{{ player_form.first_name.label_tag }}</b></label>
              {% render_field player_form.first_name class+="w3-input w3-border" %}
            </div>
            <div style="flex:1 0 0;">
              <label><b>{{ player_form.last_name.label_tag }}</b></label>
              {% render_field player_form.last_name class+="w3-input w3-border" %}
            </div>
          </div>

          <label><b>{{ player_form.country.label_tag }}</b></label>
          {% render_field player_form.country class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ player_form.birth_date.label_tag }}</b></label>
          <div class='w3-cell-row w3-margin-bottom'>
            {% render_field player_form.birth_date class+="w3-input w3-border w3-cell" %}
            <div class="w3-cell w3-cell-middle w3-center w3-border date_icon">
              <span class="fa fa-calendar"></span>
            </div>
          </div>

          <label><b>{{ player_form.image_url.label_tag }}</b></label>
          {% render_field player_form.image_url class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ player_form.description.label_tag }}</b></label>
          {% render_field player_form.description class+="w3-input w3-border" %}
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="$('#{{ player_form.prefix }}').hide()" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <input class="formAction" type="hidden" name="action" value="player_edit">
          <input class="formSubmit w3-button w3-green w3-right" type="submit" value="Edit">
        </div>
      </form>
    </div>
  </div>

{% endblock %}


