{% extends 'leagues/base.html' %}
{% block title %}Leagues | Management{% endblock %}

{% block scripts %}
  <script>
      function clanSelected(event) {
          let menu = $(event.target);
          let selected = $('option:selected', menu);
          $.ajax({
              type: 'GET',
              url: {% url 'leagues:settings' %},
              data: {
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                  'modal_type': 'team',
                  'action': 'clan_changed',
                  'object_id': selected.prop('value'),
              },
              dataType: "json",
              async: true,
              success: function (json) {
                  let field = $('#id_{{ team_form.prefix }}-leader');
                  let nullOption = field.children().first();
                  field.empty();
                  if (nullOption.text().includes('---')) {
                      nullOption.prop('selected', false);
                      field.append(nullOption);
                  }
                  $.each(json.leaders, function (idx, option) {
                      field.append($("<option></option>")
                          .prop('value', option.id)
                          .text(option.value));
                  });
                  field.children().first().prop('selected', true);
              },
              error: function (xhr, error) {
                  console.log("AJAX failure");
                  console.log(xhr);
                  console.log(error);
              }
          });
      }


      $(document).ready(function () {
          {% if error_modal %}
              {% if object_id %}
                  OpenEditModal('{{ error_modal }}', {{ object_id }}, true);
              {% else %}
                  OpenCreateModal('{{ error_modal }}', true);
              {% endif %}
          {% endif %}

          $('#id_{{ team_form.prefix }}-clan').change(clanSelected)
      });
  </script>
{% endblock %}


{% block content %}
  {% load widget_tweaks %}

  <!-- Middle Column -->
  <!-- Settings container -->
  <div class="w3-card w3-round-large w3-white"
       style="max-width: 1000px; flex: 1 0 auto; margin-bottom: 25px">

    <ul class="section-bar">
      <li onclick="showSection(event, 'Games');" id="games_tab"
          class="section-tab w3-bottombar w3-hover-light-grey w3-padding w3-border-red">
        Games
      </li>
      <li onclick="showSection(event, 'Players');" id="players_tab"
          class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
        Players
      </li>
      <li onclick="showSection(event, 'Teams');" id="teams_tab"
          class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
        Teams
      </li>
      <li onclick="showSection(event, 'Clans');" id="clans_tab"
          class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
        Clans
      </li>
      <li onclick="showSection(event, 'Tournaments');" id="tournaments_tab"
          class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
        Tournaments
      </li>
    </ul>


    <div id="Games" class="section" style="display:block">
      <div id="titles" class="w3-container" style="display:block">
        <h3>Titles</h3>
        <div class="pagedTable w3-card w3-round">
          {% include 'leagues/table_header.html' with form_id=game_form.prefix %}
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr>
              <th>Name</th>
              <th>Publisher</th>
              <th>Release date</th>
              <th>Genre</th>
              <th></th>
            </tr>
            </thead>

            <tbody id="games_rows">
            {% for game in game_list %}
              <tr style="display: none">
                <td><a href="{% url 'leagues:game_detail' game.slug %}">{{ game.name }}</a>
                </td>
                <td>{{ game.publisher }}</td>
                <td>{{ game.release_date }}</td>
                <td>{{ game.genre }}</td>
                <td class="edit_object"
                    onclick="OpenEditModal('{{ game_form.prefix }}', {{ game.id }});">
                  Edit<i class="fa fa-pencil-square-o" style="margin-left:10px"></i>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>

        <div class="w3-section flex-container">
          <div class="w3-margin-right" style="flex: 1 1 0">
            <h3>Gamemodes</h3>
            <div class="pagedTable w3-card w3-round w3-margin-bottom">
              {% include 'leagues/table_header.html' with form_id=gamemode_form.prefix %}
              <table class="w3-table w3-striped w3-bordered w3-hoverable">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Players per team</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                {% for gamemode in gamemode_list %}
                  <tr style="display: none">
                    <td>{{ gamemode.name }}</td>
                    <td>{{ gamemode.team_player_count }}</td>
                    <td class="edit_object"
                        onclick="OpenEditModal('{{ gamemode_form.prefix }}', {{ gamemode.id }});">
                      Edit<i class="fa fa-pencil-square-o"
                             style="margin-left:10px"></i>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              {% include 'leagues/table_footer.html' %}
            </div>
          </div>

          <div style="flex: 1 1 0">
            <h3>Genres</h3>
            <div class="pagedTable w3-card w3-round">
              {% include 'leagues/table_header.html' with form_id=genre_form.prefix %}
              <table class="w3-table w3-striped w3-bordered w3-hoverable">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Acronym</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                {% for genre in genre_list %}
                  <tr data-href="{% url 'leagues:genre_detail' genre.slug %}"
                      style="display: none">
                    <td>{{ genre.name }}</td>
                    <td>{{ genre.acronym }}</td>
                    <td class="edit_object"
                        onclick="OpenEditModal('{{ genre_form.prefix }}', {{ genre.id }});">
                      Edit<i class="fa fa-pencil-square-o"
                             style="margin-left:10px"></i>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              {% include 'leagues/table_footer.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="Players" class="w3-container section">
      <h3>Players</h3>

      <div class="pagedTable w3-card w3-round w3-margin-bottom">
        {% include 'leagues/table_header.html' with form_id=player_form.prefix %}
        <table class="w3-table w3-striped w3-bordered w3-hoverable">
          <thead>
          <tr class="">
            <th>Nickname</th>
            <th>Clan</th>
            <th>Name</th>
            <th>Country of birth</th>
            <th>Birth date</th>
            <th>Role</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          {% for player in player_list %}
            <tr style="display: none">
              <td>
                <a href="{% url 'leagues:player_detail' player.slug %}">{{ player.nickname }}</a>
              </td>
              <td>
                {% if player.clan %}
                  <a href="{% url 'leagues:clan_detail' player.clan.slug %}">{{ player.clan }}</a>
                {% else %}
                  None
                {% endif %}
              </td>
              <td>{{ player.full_name }}</td>
              <td>{{ player.country }}</td>
              <td>{{ player.birth_date|default:""|date:"j.n.Y" }}</td>

              <td>
                {{ player.role_name }}
              </td>

              <td class="edit_object"
                  onclick="OpenEditModal('{{ player_form.prefix }}', {{ player.id }});">
                Edit<i class="fa fa-pencil-square-o" style="margin-left:10px"></i>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% include 'leagues/table_footer.html' %}
      </div>
    </div>

    <div id="Teams" class="w3-container section">
      <h3>Teams</h3>

      <div class="pagedTable w3-card w3-round w3-margin-bottom">
        {% include 'leagues/table_header.html' with form_id=team_form.prefix %}
        <table class="w3-table w3-striped w3-bordered w3-hoverable">
          <thead>
          <tr class="">
            <th>Name</th>
            <th>Leader</th>
            <th>Founded</th>
            <th>Active</th>
            <th>Clan</th>
            <th>Game of interest</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          {% for team in team_list %}
            <tr style="display: none">
              <td><a href="{% url 'leagues:team_detail' team.slug %}">{{ team.name }}</a></td>
              <td>
                {% if team.leader %}
                  <a href="{% url 'leagues:player_detail' team.leader.slug %}">{{ team.leader }}</a>
                {% else %}
                  None
                {% endif %}
              </td>
              <td>{{ team.founded|default:"" }}</td>
              <td>{{ team.active }}</td>
              <td>
                {% if team.clan %}
                  <a href="{% url 'leagues:clan_detail' team.clan.slug %}">{{ team.clan }}</a>
                {% else %}
                  None
                {% endif %}
              </td>
              <td>
                {% if team.game %}
                  <a href="{% url 'leagues:game_detail' team.game.slug %}">{{ team.game }}</a>
                {% else %}
                  None
                {% endif %}
              </td>
              <td class="edit_object"
                  onclick="OpenEditModal('{{ team_form.prefix }}', {{ team.id }});">
                Edit<i class="fa fa-pencil-square-o" style="margin-left:10px"></i>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% include 'leagues/table_footer.html' %}
      </div>
    </div>

    <div id="Clans" class="w3-container section">
      <h3>Clans</h3>

      <div class="pagedTable w3-card w3-round w3-margin-bottom">
        {% include 'leagues/table_header.html' with form_id=clan_form.prefix %}
        <table class="w3-table w3-striped w3-bordered w3-hoverable">
          <thead>
          <tr class="">
            <th>Name</th>
            <th>Leader</th>
            <th>Founded</th>
            <th>Country</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          {% for clan in clan_list %}
            <tr style="display: none">
              <td><a href="{% url 'leagues:clan_detail' clan.slug %}">{{ clan.name }}</a></td>
              <td>
                {% if clan.leader %}
                  <a href="{% url 'leagues:player_detail' clan.leader.slug %}">{{ clan.leader }}</a>
                {% else %}
                  None
                {% endif %}
              </td>
              <td>{{ clan.founded|default:"" }}</td>
              <td>{{ clan.country }}</td>
              <td class="edit_object"
                  onclick="OpenEditModal('{{ clan_form.prefix }}', {{ clan.id }});">
                Edit<i class="fa fa-pencil-square-o" style="margin-left:10px"></i>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% include 'leagues/table_footer.html' %}
      </div>
    </div>

    <div id="Tournaments" class="w3-container section">
      <h3>Tournaments</h3>

      <div class="pagedTable w3-card w3-round w3-margin-bottom">
        {% include 'leagues/table_header.html' with form_id=tournament_form.prefix %}
        <table class="w3-table w3-striped w3-bordered w3-hoverable">
          <thead>
          <tr class="">
            <th>Name</th>
            <th>Prize</th>
            <th>Opening date</th>
            <th>End date</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          {% for tournament in tournament_list %}
            <tr style="display: none">
              <td>{{ tournament.name }}</td>
              <td>{{ tournament.prize }}</td>
              <td>{{ tournament.opening_date|default:"" }}</td>
              <td>{{ tournament.end_date|default:"" }}</td>
              <td class="edit_object"
                  onclick="OpenEditModal('{{ tournament_form.prefix }}', {{ tournament.id }});">
                Edit<i class="fa fa-pencil-square-o" style="margin-left:10px"></i>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% include 'leagues/table_footer.html' %}
      </div>


      <div class="w3-section flex-container">
        <div class="w3-margin-right" style="flex: 1 1 0">
          <h3>Sponsors</h3>
          <div class="pagedTable w3-card w3-round w3-margin-bottom">
            {% include 'leagues/table_header.html' with form_id=sponsor_form.prefix %}
            <table class="w3-table w3-striped w3-bordered w3-hoverable">
              <thead>
              <tr>
                <th>Name</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              {% for sponsor in sponsor_list %}
                <tr style="display: none">
                  <td>{{ sponsor.name }}</td>
                  <td class="edit_object"
                      onclick="OpenEditModal('{{ sponsor_form.prefix }}', {{ sponsor.id }});">
                    Edit<i class="fa fa-pencil-square-o" style="margin-left:10px"></i>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% include 'leagues/table_footer.html' %}
          </div>
        </div>

        <div style="flex: 2 1 0">
          <h3>Sponsorships</h3>
          <div class="pagedTable w3-card w3-round">
            {% include 'leagues/table_header.html' with form_id=sponsorship_form.prefix %}
            <table class="w3-table w3-striped w3-bordered w3-hoverable">
              <thead>
              <tr>
                <th>Sponsor</th>
                <th>Tournament</th>
                <th>Type</th>
                <th>Amount</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              {% for sponsorship in sponsorship_list %}
                <tr style="display: none">
                  <td>{{ sponsorship.sponsor }}</td>
                  <td>{{ sponsorship.tournament }}</td>
                  <td>{{ sponsorship.type }}</td>
                  <td>{{ sponsorship.amount }}</td>
                  <td class="edit_object"
                      onclick="OpenEditModal('{{ sponsorship_form.prefix }}', {{ sponsorship.id }});">
                    Edit<i class="fa fa-pencil-square-o" style="margin-left:10px"></i>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% include 'leagues/table_footer.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



{% block endpage %}
  <div id="{{ sponsorship_form.prefix }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create sponsorship</h3>

        <button onclick="CloseModal('{{ sponsorship_form.prefix }}')" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:settings' %}">
        <div class="w3-section w3-container">
          {% csrf_token %}
          {% include 'leagues/form_errors.html' with errors=sponsorship_form.errors %}

          <label><b>{{ sponsorship_form.sponsor.label_tag }}</b></label>
          {% render_field sponsorship_form.sponsor class+="formUnique w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ sponsorship_form.tournament.label_tag }}</b></label>
          {% render_field sponsorship_form.tournament class+="formUnique w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ sponsorship_form.type.label_tag }}</b></label>
          {% render_field sponsorship_form.type class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ sponsorship_form.amount.label_tag }}</b></label>
          {% render_field sponsorship_form.amount class+="w3-input w3-border" %}
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="CloseModal('{{ sponsorship_form.prefix }}')" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <input class="formID" type="hidden" name="object_id" value="">
          <input class="formAction" type="hidden" name="post_action" value="">
          <input class="formSubmit w3-button w3-green w3-right" type="submit" value="Create sponsorship">
        </div>
      </form>
    </div>
  </div>


  <div id="{{ sponsor_form.prefix }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create sponsor</h3>

        <button onclick="CloseModal('{{ sponsor_form.prefix }}')" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:settings' %}">
        <div class="w3-section w3-container">
          {% csrf_token %}
          {% include 'leagues/form_errors.html' with errors=sponsor_form.errors %}

          <label><b>{{ sponsor_form.name.label_tag }}</b></label>
          {% render_field sponsor_form.name class+="formUnique w3-input w3-border" %}
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="CloseModal('{{ sponsor_form.prefix }}')" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <input class="formID" type="hidden" name="object_id" value="">
          <input class="formAction" type="hidden" name="post_action" value="">
          <input class="formSubmit w3-button w3-green w3-right" type="submit" value="Create sponsor">
        </div>
      </form>
    </div>
  </div>


  <div id="{{ tournament_form.prefix }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create tournament</h3>

        <button onclick="CloseModal('{{ tournament_form.prefix }}')" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:settings' %}">
        <div class="w3-section w3-container">
          {% csrf_token %}
          {% include 'leagues/form_errors.html' with errors=tournament_form.errors %}

          <label><b>{{ tournament_form.name.label_tag }}</b></label>
          {% render_field tournament_form.name class+="formUnique w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ tournament_form.prize.label_tag }}</b></label>
          {% render_field tournament_form.prize class+="w3-input w3-border w3-margin-bottom" %}

          <div class="w3-margin-bottom input-flex">
            <div class="w3-margin-right" style="flex:1 0 0;">
              <label><b>{{ tournament_form.opening_date.label_tag }}</b></label>
              <div class='w3-cell-row'>
                {% render_field tournament_form.opening_date class+="w3-input w3-border w3-cell" %}
                <div class="w3-cell w3-cell-middle w3-center w3-border date_icon">
                  <span class="fa fa-calendar"></span>
                </div>
              </div>
            </div>
            <div style="flex:1 0 0;">
              <label><b>{{ tournament_form.end_date.label_tag }}</b></label>
              <div class='w3-cell-row'>
                {% render_field tournament_form.end_date class+="w3-input w3-border w3-cell" %}
                <div class="w3-cell w3-cell-middle w3-center w3-border date_icon">
                  <span class="fa fa-calendar"></span>
                </div>
              </div>
            </div>
          </div>

          <label><b>{{ tournament_form.game.label_tag }}</b></label>
          {% render_field tournament_form.game class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ tournament_form.game_mode.label_tag }}</b></label>
          {% render_field tournament_form.game_mode class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ tournament_form.description.label_tag }}</b></label>
          {% render_field tournament_form.description class+="w3-input w3-border" %}
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="CloseModal('{{ tournament_form.prefix }}')" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <input class="formID" type="hidden" name="object_id" value="">
          <input class="formAction" type="hidden" name="post_action" value="">
          <input class="formSubmit w3-button w3-green w3-right" type="submit" value="Create tournament">
        </div>
      </form>
    </div>
  </div>


  <div id="{{ clan_form.prefix }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create clan</h3>

        <button onclick="CloseModal('{{ clan_form.prefix }}')" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:settings' %}">
        <div class="w3-section w3-container">
          {% csrf_token %}
          {% include 'leagues/form_errors.html' with errors=clan_form.errors %}

          <label><b>{{ clan_form.name.label_tag }}</b></label>
          {% render_field clan_form.name class+="formUnique w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ clan_form.founded.label_tag }}</b></label>
          <div class='w3-cell-row w3-margin-bottom'>
            {% render_field clan_form.founded class+="w3-input w3-border w3-cell" %}
            <div class="w3-cell w3-cell-middle w3-center w3-border date_icon">
              <span class="fa fa-calendar"></span>
            </div>
          </div>

          <label><b>{{ clan_form.country.label_tag }}</b></label>
          {% render_field clan_form.country class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ clan_form.leader.label_tag }}</b></label>
          {% render_field clan_form.leader class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ clan_form.description.label_tag }}</b></label>
          {% render_field clan_form.description class+="w3-input w3-border" %}
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="CloseModal('{{ clan_form.prefix }}')" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <input class="formID" type="hidden" name="object_id" value="">
          <input class="formAction" type="hidden" name="post_action" value="">
          <input class="formSubmit w3-button w3-green w3-right" type="submit" value="Create clan">
        </div>
      </form>
    </div>
  </div>


  <div id="{{ team_form.prefix }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create team</h3>

        <button onclick="CloseModal('{{ team_form.prefix }}')" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:settings' %}" name="team_create">
        <div class="w3-section w3-container">
          {% csrf_token %}
          {% include 'leagues/form_errors.html' with errors=team_form.errors %}

          <label><b>{{ team_form.name.label_tag }}</b></label>
          {% render_field team_form.name class+="formUnique w3-input w3-border w3-margin-bottom" %}

          <div class="w3-margin-bottom input-flex">
            <div style="flex:1 0 0;">
              <label><b>{{ team_form.founded.label_tag }}</b></label>
              <div class='w3-cell-row'>
                {% render_field team_form.founded class+="w3-input w3-border w3-cell" %}
                <div class="w3-cell w3-cell-middle w3-center w3-border date_icon">
                  <span class="fa fa-calendar"></span>
                </div>
              </div>
            </div>
            <div style="flex:1 0 0" class="w3-center">
              <label><b>{{ team_form.active.label_tag }}</b></label>
              {% render_field team_form.active class+="w3-block w3-check" style="margin-top:3px" %}
            </div>
          </div>

          <label><b>{{ team_form.leader.label_tag }}</b></label>
          {% render_field team_form.leader class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ team_form.clan.label_tag }}</b></label>
          {% render_field team_form.clan class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ team_form.game.label_tag }}</b></label>
          {% render_field team_form.game class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ team_form.description.label_tag }}</b></label>
          {% render_field team_form.description class+="w3-input w3-border" %}
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="CloseModal('{{ team_form.prefix }}')" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <input class="formID" type="hidden" name="object_id" value="">
          <input class="formAction" type="hidden" name="post_action" value="">
          <input class="formSubmit w3-button w3-green w3-right" type="submit" value="Create team">
        </div>
      </form>
    </div>
  </div>


  <div id="{{ player_form.prefix }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create player</h3>

        <button onclick="CloseModal('{{ player_form.prefix }}')" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:settings' %}">
        <div class="w3-section w3-container">
          {% csrf_token %}
          {% include 'leagues/form_errors.html' with errors=player_form.errors %}

          {% if user.is_superuser %}
          <label><b>{{ player_form.role.label_tag }}</b></label>
          {% render_field player_form.role class+="w3-input w3-border w3-margin-bottom" %}
          {% endif %}

          <label><b>{{ player_form.nickname.label_tag }}</b></label>
          {% render_field player_form.nickname class+="formUnique w3-input w3-border w3-margin-bottom" %}

          <div class="w3-margin-bottom input-flex">
            <div class="w3-margin-right" style="flex:1 0 0;">
              <label><b>{{ player_form.first_name.label_tag }}</b></label>
              {% render_field player_form.first_name class+="w3-input w3-border" %}
            </div>
            <div style="flex:1 0 0;">
              <label><b>{{ player_form.last_name.label_tag }}</b></label>
              {% render_field player_form.last_name class+="w3-input w3-border" %}
            </div>
          </div>

          <label><b>{{ player_form.country.label_tag }}</b></label>
          {% render_field player_form.country class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ player_form.birth_date.label_tag }}</b></label>
          <div class='w3-cell-row w3-margin-bottom'>
            {% render_field player_form.birth_date class+="w3-input w3-border w3-cell" %}
            <div class="w3-cell w3-cell-middle w3-center w3-border date_icon">
              <span class="fa fa-calendar"></span>
            </div>
          </div>

          <label><b>{{ player_form.image_url.label_tag }}</b></label>
          {% render_field player_form.image_url class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ player_form.description.label_tag }}</b></label>
          {% render_field player_form.description class+="w3-input w3-border" %}
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="CloseModal('{{ player_form.prefix }}')" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <input class="formID" type="hidden" name="object_id" value="">
          <input class="formAction" type="hidden" name="post_action" value="">
          <input class="formSubmit w3-button w3-green w3-right" type="submit" value="Create player">
        </div>
      </form>
    </div>
  </div>


  <div id="{{ gamemode_form.prefix }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create gamemode</h3>

        <button onclick="CloseModal('{{ gamemode_form.prefix }}')" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:settings' %}">
        <div class="w3-section w3-container">
          {% csrf_token %}
          {% include 'leagues/form_errors.html' with errors=gamemode_form.errors %}

          <label><b>{{ gamemode_form.name.label_tag }}</b></label>
          {% render_field gamemode_form.name class+="formUnique w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ gamemode_form.team_player_count.label_tag }}</b></label>
          {% render_field gamemode_form.team_player_count class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ gamemode_form.description.label_tag }}</b></label>
          {% render_field gamemode_form.description class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ gamemode_form.type.label_tag }}</b></label>
          {% render_field gamemode_form.type class+="w3-input w3-border" %}
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="CloseModal('{{ gamemode_form.prefix }}')" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <input class="formID" type="hidden" name="object_id" value="">
          <input class="formAction" type="hidden" name="post_action" value="">
          <input class="formSubmit w3-button w3-green w3-right" type="submit" value="Create gamemode">
        </div>
      </form>
    </div>
  </div>


  <div id="{{ genre_form.prefix }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create genre</h3>

        <button onclick="CloseModal('{{ genre_form.prefix }}')" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:settings' %}">
        <div class="w3-section w3-container">
          {% csrf_token %}
          {% include 'leagues/form_errors.html' with errors=genre_form.errors %}

          <label><b>{{ genre_form.name.label_tag }}</b></label>
          {% render_field genre_form.name class+="formUnique w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ genre_form.acronym.label_tag }}</b></label>
          {% render_field genre_form.acronym class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ genre_form.description.label_tag }}</b></label>
          {% render_field genre_form.description class+="w3-input w3-border" %}
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="CloseModal('{{ genre_form.prefix }}')" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <input class="formID" type="hidden" name="object_id" value="">
          <input class="formAction" type="hidden" name="post_action" value="">
          <input class="formSubmit w3-button w3-green w3-right" type="submit" value="Create genre">
        </div>
      </form>
    </div>
  </div>


  <div id="{{ game_form.prefix }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create game</h3>

        <button onclick="CloseModal('{{ game_form.prefix }}')" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>

      <form method="POST" action="{% url 'leagues:settings' %}">
        <div class="w3-section w3-container">
          {% csrf_token %}
          {% include 'leagues/form_errors.html' with errors=game_form.errors %}

          <label><b>{{ game_form.name.label_tag }}</b></label>
          {% render_field game_form.name class+="formUnique w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ game_form.release_date.label_tag }}</b></label>
          <div class='w3-cell-row w3-margin-bottom'>
            {% render_field game_form.release_date class+="w3-input w3-border w3-cell" %}
            <div class="w3-cell w3-cell-middle w3-center w3-border date_icon">
              <span class="fa fa-calendar"></span>
            </div>
          </div>

          <label><b>{{ game_form.publisher.label_tag }}</b></label>
          {% render_field game_form.publisher class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ game_form.image_url.label_tag }}</b></label>
          {% render_field game_form.image_url class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ game_form.genre.label_tag }}</b></label>
          {% render_field game_form.genre class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ game_form.game_modes.label_tag }}</b></label>
          {% render_field game_form.game_modes class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ game_form.description.label_tag }}</b></label>
          {% render_field game_form.description class+="w3-input w3-border" %}
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="CloseModal('{{ game_form.prefix }}')" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <input class="formID" type="hidden" name="object_id" value="">
          <input class="formAction" type="hidden" name="post_action" value="">
          <input class="formSubmit w3-button w3-green w3-right" type="submit" value="Create game">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
