{% extends 'leagues/base.html' %}


{% block title %}Leagues | Social {% endblock %}

{% block scripts %}
  <script>
      function openDialog(text, confirmCallback) {
          $('#dialog_text').text(text);

          if (confirmCallback) {
              $('#dialog_confirm').attr('onclick',
                  confirmCallback.name + '(\'' + arguments[2] + '\', \'' + arguments[3] + '\')');
          }
          $('#dialog').show();
      }

      function buttonClick(id, action) {
          $.ajax({
              type: 'POST',
              url: "{% url 'leagues:social' %}",
              data: {
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                  'action': action,
                  'object_id': id,
                  'player_id': {{ user.player.id }}
              },
              dataType: "json",
              async: true,
              success: function (json) {
                  if (json['has_clan_teams']) {
                      openDialog('Do you really wish to leave all clan\'s teams?', buttonClick, id, 'force_leave_clan');
                  }
                  else if (json['need_clan']) {
                      openDialog('Do you wish to join team\'s clan?', buttonClick, id, 'force_join_team');
                  }
                  else {
                      location.reload();
                  }
                  {#if(json['response'] === 'leave_all_team') {#}
                  {#    openDialog('This action will remove you from all clans and teams and possibly will join you to team\'s clan! \nDo you really wanna do this?', buttonClick, id, 'force_join_team');#}
                  {# }#}
                  {#else if(json['response'] === 'leave_all_clan') {#}
                  {#    openDialog('This action will remove you from all clans and teams! \nDo you really wanna do this?', buttonClick, id, 'force_join_clan');#}
                  {# }#}
                  {#else if(json['response'] === 'need_clan') {#}
                  {#    openDialog('You will be invited into team\'s clan too.\nAre you sure you want to join this team?', buttonClick, id, 'force_join_team');#}
                  {# }#}
                  {#else if(json['response'] === 'has_team') {#}
                  {#    openDialog('If you leave this clan, you will be automatically removed from all it\'s teams.\nAre you sure you wanna do this?', buttonClick, id, 'force_leave_clan');#}
                  {# }#}
                  {#else {#}
                  {#    #}
                  {# }#}
              },
              error: function (xhr, error) {
                  console.log("AJAX failure");
                  console.log(xhr);
                  console.log(error);
              }
          });
      }
  </script>
{% endblock %}


{% block left_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock left_panel %}


{% block content %}
  <div class="w3-container flex-container" style="flex: 2 1 0">
    <div class="w3-card w3-round-large w3-white" style="max-width: 1000px; flex: 1 1 auto;">
      <header>
        <ul class="section-bar" style="flex: 1 1 auto">
          <li onclick="showSection(event, 'players');" id="players_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Players
          </li>
          <li onclick="showSection(event, 'teams');" id="teams_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Teams
          </li>
          <li onclick="showSection(event, 'clans');" id="clans_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Clans
          </li>
        </ul>
      </header>

      <div id="players" class="w3-container w3-section section">
        <h3>Players</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Nickname</th>
              <th>Age</th>
              <th>Country</th>
              <th>Win ratio</th>
            </tr>
            </thead>

            <tbody id="players_rows">
            {% for player in player_list %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:player_detail' player.slug %}">
                    {{ player.nickname }}
                  </a>
                </td>
                <td>{{ player.age|default:"Unknown" }}</td>
                <td>{{ player.country }}</td>
                <td>{{ player.win_ratio|default:"No games" }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>

      <div id="teams" class="w3-container w3-section section">
        <h3>Teams</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Name</th>
              <th>Leader</th>
              <th>Clan</th>
              {% if user.is_authenticated %}
                <th class="w3-right-align">Membership status</th>
              {% endif %}
            </tr>
            </thead>

            <tbody id="teams_rows">
            {% for team in team_list %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:team_detail' team.0.slug %}">{{ team.0.name }}</a>
                </td>

                <td>
                  {% if team.0.leader %}
                    <a href="{% url 'leagues:player_detail' team.0.leader.slug %}">
                      {{ team.0.leader }}
                    </a>
                  {% else %}
                    None
                  {% endif %}
                </td>

                <td>
                  {% if team.0.clan %}
                    <a href="{% url 'leagues:clan_detail' team.0.clan.slug %}">
                      {{ team.0.clan }}
                    </a>
                  {% else %}
                    None
                  {% endif %}
                </td>

                {% if user.is_authenticated %}
                  <td class="w3-padding-3 w3-small table_button_center">
                    {% if team.1 == membership.MEMBER %}
                      <button onclick="openDialog('Do you really wish to leave \'{{ team.0.name }}\'?',
                          buttonClick, {{ team.0.id }}, 'leave_team')"
                              class="w3-button w3-red table_button leave_button">
                        Leave
                      </button>
                    {% elif team.1 == membership.NOT_MEMBER %}
                      {% if user.player.clan == team.0.clan or not user.player.clan or not team.0.clan %}
                        <button onclick="buttonClick({{ team.0.id }}, 'join_team')"
                                class="w3-button w3-green table_button join_button">
                          Join
                        </button>
                      {% endif %}
                    {% else %}
                      <button onclick="buttonClick({{ team.0.id }}, 'cancel_team');"
                              class="w3-button w3-orange table_button pending_button">
                        <span class="normal">Pending</span>
                        <span class="hover">Cancel</span>
                      </button>
                    {% endif %}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>

      <div id="clans" class="w3-container w3-section section">
        <h3>Clans</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Name</th>
              <th>Leader</th>
              {% if user.is_authenticated %}
                <th class="w3-right-align">Membership status</th>
              {% endif %}
            </tr>
            </thead>

            <tbody id="clans_rows">
            {% for clan in clan_list %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:clan_detail' clan.slug %}">{{ clan.name }}</a>
                </td>

                <td>
                  {% if clan.leader %}
                    <a href="{% url 'leagues:player_detail' clan.leader.slug %}">
                      {{ clan.leader }}
                    </a>
                  {% else %}
                    None
                  {% endif %}
                </td>

                {% if user.is_authenticated %}
                  <td class="w3-padding-3 w3-small table_button_center">
                    {% if player.clan %}
                      {% if player.clan == clan %}
                        <button onclick="openDialog('Do you really wish to leave \'{{ clan.name }}\'?',
                            buttonClick, {{ clan.id }}, 'leave_clan')"
                                class="w3-button w3-red table_button leave_button">
                          Leave
                        </button>
                      {% endif %}
                    {% else %}
                      {% if clan in clan_pendings %}
                        <button onclick="buttonClick({{ clan.id }}, 'cancel_clan');"
                                class="w3-button w3-orange table_button pending_button">
                          <span class="normal">Pending</span>
                          <span class="hover">Cancel</span>
                        </button>
                      {% else %}
                        <button onclick="buttonClick({{ clan.id }}, 'join_clan')"
                                class="w3-button w3-green table_button join_button">
                          Join
                        </button>
                      {% endif %}
                    {% endif %}
                  </td>

                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block right_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock right_panel %}


{% block endpage %}
  {% load widget_tweaks %}
  <div id="dialog" class="w3-modal" style="display: none">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">

      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 id="dialog_text">Placeholder Text</h3>

        <button onclick="$('#dialog').hide()" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="$('#dialog').hide()" type="button" id="dialog_decline"
                class="w3-button w3-red">No
        </button>

        <button onclick="$('#dialog').hide()" type="button" id="dialog_confirm"
                class="w3-button w3-green w3-right">Yes
        </button>
      </div>
    </div>
  </div>
{% endblock %}