{% extends 'leagues/base.html' %}


{% block title %}Leagues | Social {% endblock %}


{% block left_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock left_panel %}


{% block content %}
  <div class="w3-container flex-container" style="flex: 1 1 0">
    <div class="w3-card w3-round-large w3-white" style="max-width: 1000px; flex: 1 0 auto;">
      <ul class="section-bar" style="flex: 1 1 auto">
        <li onclick="showSection(event, 'Players');" id="players_tab"
            class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
          Players
        </li>
        <li onclick="showSection(event, 'Teams');" id="teams_tab"
            class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
          Teams
        </li>
        <li onclick="showSection(event, 'Clans');" id="clans_tab"
            class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
          Clans
        </li>
      </ul>

      <div id="Players" class="w3-container w3-section section" style="display:block">
        <h3>Players</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Nickname</th>
              <th>Age</th>
              <th>Country</th>
              <th>Win ratio</th>
            </tr>
            </thead>

            <tbody id="players_rows">
            {% for player in player_list %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:player_detail' player.slug %}">
                    {{ player.nickname }}
                  </a>
                </td>
                <td>{{ player.age|default:"Unknown" }}</td>
                <td>{{ player.country }}</td>
                <td>{{ player.win_ratio|default:"No games" }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>

      <div id="Teams" class="w3-container w3-section section">
        <h3>Teams</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Name</th>
              <th>Leader</th>
              {% if user.is_authenticated %}
                <th class="w3-right-align">Membership status</th>
              {% endif %}
            </tr>
            </thead>

            <tbody id="teams_rows">
            {% for team in team_list %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:team_detail' team.0.slug %}">{{ team.0.name }}</a>
                </td>

                <td>
                  {% if team.0.leader %}
                    <a href="{% url 'leagues:player_detail' team.0.leader.slug %}">
                      {{ team.0.leader }}
                    </a>
                  {% else %}
                    None
                  {% endif %}
                </td>

                {% if user.is_authenticated %}
                  <td class="w3-padding-3 w3-small table_button_center">
                    {% if team.1 == membership.MEMBER %}
                      <button onclick="$('#leave_team' + {{ team.0.id }}).show()"
                              class="w3-button w3-red table_button leave_button">
                        Leave
                      </button>
                    {% elif team.1 == membership.NOT_MEMBER %}
                      <button onclick="$('#join_team' + {{ team.0.id }}).show()"
                              class="w3-button w3-green table_button join_button">
                        Join
                      </button>
                    {% else %}
                      <button class="w3-button w3-orange table_button pending_button">
                        Pending...
                      </button>
                    {% endif %}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>

      <div id="Clans" class="w3-container w3-section section">
        <h3>Clans</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Name</th>
              <th>Leader</th>
              {% if user.is_authenticated %}
                <th class="w3-right-align">Membership status</th>
              {% endif %}
            </tr>
            </thead>

            <tbody id="clans_rows">
            {% for clan in clan_list %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:clan_detail' clan.0.slug %}">{{ clan.0.name }}</a>
                </td>

                <td>
                  {% if clan.0.leader %}
                    <a href="{% url 'leagues:player_detail' clan.0.leader.slug %}">
                      {{ clan.0.leader }}
                    </a>
                  {% else %}
                    None
                  {% endif %}
                </td>

                {% if user.is_authenticated %}
                  <td class="w3-padding-3 w3-small table_button_center">
                    {% if clan.1 == membership.MEMBER %}
                      <button onclick="$('#leave_clan' + {{ clan.0.id }}).show()"
                              class="w3-button w3-red table_button leave_button">
                        Leave
                      </button>
                    {% elif clan.1 == membership.NOT_MEMBER %}
                      <button onclick="$('#join_clan' + {{ clan.0.id }}).show()"
                              class="w3-button w3-green table_button join_button">
                        Join
                      </button>
                    {% else %}
                      <button class="w3-button w3-orange table_button pending_button">
                        Pending...
                      </button>
                    {% endif %}
                  </td>

                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block right_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock right_panel %}


{% block endpage %}
  {% load widget_tweaks %}
  <!--  LEAVE TEAM ALLERT !-->
  {% for team in team_list %}
    <div id="leave_team{{ team.0.id }}" class="w3-modal" style="display: none">
      <div class="w3-modal-content w3-card-4" style="max-width:600px">

        <header class="w3-container w3-center w3-light-grey w3-border-bottom">
          <h3>Do you really wish to leave {{ team.0.name }}</h3>

          <button onclick="$('#leave_team' + {{ team.0.id }}).hide()" type="button"
                  class="w3-button w3-display-topright w3-red">
            <i class="fa fa-times"></i>
          </button>
        </header>

        <form method="POST" class="" action="{% url 'leagues:social' %}" name="team_leave">{% csrf_token %}
          <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="$('#leave_team' + {{ team.0.id }}).hide()" type="button"
                    class="w3-button w3-red">No
            </button>
            <input type="hidden" name="player_id" value="{{ user.player.id }}">
            <input type="hidden" name="leave_team_id" value="{{ team.0.id }}">
            <input class="w3-button w3-green w3-right" type="submit" name="{{ team.0.name }}"
                   value="Yes">
          </div>
        </form>
      </div>
    </div>
  {% endfor %}
  <!--  LEAVE CLAN ALLERT !-->
  {% for clan in clan_list %}
    <div id="leave_clan{{ clan.0.id }}" class="w3-modal" style="display: none">
      <div class="w3-modal-content w3-card-4" style="max-width:600px">

        <header class="w3-container w3-center w3-light-grey w3-border-bottom">
          <h3>Do you really wish to leave {{ clan.0.name }}</h3>

          <button onclick="$('#leave_clan' + {{ clan.0.id }}).hide()" type="button"
                  class="w3-button w3-display-topright w3-red">
            <i class="fa fa-times"></i>
          </button>
        </header>

        <form method="POST" class="" action="{% url 'leagues:social' %}" name="clan_leave">{% csrf_token %}
          <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="$('#leave_clan' + {{ clan.0.id }}).hide()" type="button"
                    class="w3-button w3-red">No
            </button>
            <input type="hidden" name="player_id" value="{{ user.player.id }}">
            <input type="hidden" name="leave_clan_id" value="{{ clan.0.id }}">
            <input class="w3-button w3-green w3-right" type="submit" name="{{ clan.0.name }}"
                   value="Yes">
          </div>
        </form>
      </div>
    </div>
  {% endfor %}
  <!--  JOIN TEAM ALLERT !-->
  {% for team in team_list %}
    <div id="join_team{{ team.0.id }}" class="w3-modal" style="display: none">
      <div class="w3-modal-content w3-card-4" style="max-width:600px">

        <header class="w3-container w3-center w3-light-grey w3-border-bottom">
          <h3>Do you really want to join {{ team.0.name }}</h3>

          <button onclick="$('#join_team' + {{ team.0.id }}).hide()" type="button"
                  class="w3-button w3-display-topright w3-red">
            <i class="fa fa-times"></i>
          </button>
        </header>

        <form method="POST" class="" action="{% url 'leagues:social' %}" name="team_leave">{% csrf_token %}
          <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="$('#join_team' + {{ team.0.id }}).hide()" type="button"
                    class="w3-button w3-red">No
            </button>
            <input type="hidden" name="player_id" value="{{ user.player.id }}">
            <input type="hidden" name="join_team_id" value="{{ team.0.id }}">
            <input class="w3-button w3-green w3-right" type="submit" name="{{ team.0.name }}"
                   value="Yes">
          </div>
        </form>
      </div>
    </div>
  {% endfor %}
  <!--  JOIN CLAN ALLERT !-->
  {% for clan in clan_list %}
    <div id="join_clan{{ clan.0.id }}" class="w3-modal" style="display: none">
      <div class="w3-modal-content w3-card-4" style="max-width:600px">

        <header class="w3-container w3-center w3-light-grey w3-border-bottom">
          <h3>Do you really want to join {{ clan.0.name }}</h3>

          <button onclick="$('#join_clan' + {{ clan.0.id }}).hide()" type="button"
                  class="w3-button w3-display-topright w3-red">
            <i class="fa fa-times"></i>
          </button>
        </header>

        <form method="POST" class="" action="{% url 'leagues:social' %}" name="clan_leave">{% csrf_token %}
          <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="$('#join_clan' + {{ clan.0.id }}).hide()" type="button"
                    class="w3-button w3-red">No
            </button>
            <input type="hidden" name="player_id" value="{{ user.player.id }}">
            <input type="hidden" name="join_clan_id" value="{{ clan.0.id }}">
            <input class="w3-button w3-green w3-right" type="submit" name="{{ clan.0.name }}"
                   value="Yes">
          </div>
        </form>
      </div>
    </div>
  {% endfor %}
{% endblock %}