<footer class="w3-small flex-container" style="min-width: 200px;">
  <button class="prevButton w3-padding-3 w3-button"
          style="flex:1 2 0; align-self: stretch;">
    &#10094;
  </button>
  <select class="rowsRangeSelector w3-padding-3 w3-select" name="option"
          style="flex:5 1 0; align-self: stretch; border-bottom-width: 0">
    <option selected value="5">5 rows</option>
    <option value="10">10 rows</option>
    <option value="15">15 rows</option>
    <option value="50">50 rows</option>
    <option value="100">100 rows</option>
  </select>
  <div class="w3-padding-3" style="flex:4 1 0; align-self: stretch; position: relative">
    <p class="rangeText" style="margin: 0; font-weight: bold; text-align: center;"></p>
  </div>
  <button class="nextButton w3-padding-3 w3-button"
          style="flex:1 2 0; align-self: stretch;">
    &#10095;
  </button>
</footer>