{% extends 'leagues/base.html' %}
{% block title %}Teams | {{ team.name }} {% endblock %}

{% block scripts %}
  <script>
      function buttonClick(event, object_id, action) {
          let url = '{% url 'leagues:team_detail' team.slug %}';
          let data = {
              'action': action,
              'object_id': object_id,
          };

          function callback(json) {
              if (json['has_clan_teams']) {
                  let tmp = new CallbackConfig([object_id, 'force_leave_clan']);
                  openDialog('Do you really wish to leave all clan\'s teams?', tmp);
              } else if (json['need_clan']) {
                  let tmp = new CallbackConfig([object_id, 'force_join_team']);
                  openDialog('Do you wish to join team\'s clan?', tmp);
              } else if ('error' in json) {
                  $('#confirm_bar').hide();
                  openDialog(json['error']);
              } else {
                  location.reload();
              }
          }

          baseButtonClick(event, data, url, callback);
      }
  </script>
{% endblock %}

{% block left_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock left_panel %}


{% block content %}
  <div class="w3-container w3-margin-bottom flex-container" style="flex: 2 1 0;">
    <div class="w3-card w3-round-large w3-white" style="max-width: 1000px; flex: 1 1 auto;">
      <header>
        <h1 style="text-align: center; font-family: 'Audiowide', cursive;">
          {{ team.name }}
        </h1>
        {% if team.clan %}
          <a href="{% url 'leagues:clan_detail' team.clan.slug %}">
            <h4 style="text-align: center; font-family: 'Audiowide', cursive;">
              {{ team.clan }}
            </h4>
          </a>
        {% endif %}

        <ul class="section-bar" style="flex: 1 1 auto">
          <li onclick="showSection(event, 'info');" id="info_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Team info
          </li>
          <li onclick="showSection(event, 'members');" id="members_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Members
          </li>
          <li onclick="showSection(event, 'tournaments');" id="tournaments_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Tournaments
          </li>
          <li onclick="showSection(event, 'matches');" id="matches_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Matches
          </li>
          <li onclick="showSection(event, 'stats');" id="stats_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Statistics
          </li>
        </ul>
      </header>

      <div id="info" class="w3-container w3-section section" style="position: relative;">
        <div class="w3-display-topright" style="right: 20px; top:10px">
          {% if team in user.player.teams.all %}
            <button type="button" class="w3-button w3-round w3-red"
                    onclick="openDialog('Do you really wish to leave this team?',
                        new CallbackConfig([{{ user.player.id }}, 'leave_team']));">
              Leave
            </button>
          {% else %}
            <button type="button" class="w3-button w3-round w3-green"
                    onclick="buttonClick(event, {{ user.player.id }}, 'join_team')">
              Join
            </button>
          {% endif %}
        </div>


        <h4><b>Active:</b>
          {% if team.active %}
            <i class="fas fa-check-circle"></i>
          {% else %}
            <i class="fas fa-times-circle"></i>
          {% endif %}
        </h4>

        <h4><b>Leader:</b>
          {% if team.leader %}
            <a href="{% url 'leagues:player_detail' team.leader.slug %}">{{ team.leader }}</a>
          {% else %}
            None
          {% endif %}
        </h4>

        <h4><b>Founded:</b> {{ team.founded|default:""|date:"j.n.Y" }}</h4>

        <h4><b>Game of interest:</b>
          {% if team.game %}
            <a href="{% url 'leagues:game_detail' team.game.slug %}">{{ team.game }}</a>
          {% else %}
            None
          {% endif %}
        </h4>
        <h4><b>Clan:</b>
          {% if team.clan %}
            <a href="{% url 'leagues:clan_detail' team.clan.slug %}">{{ team.clan }}</a>
          {% else %}
            None
          {% endif %}
        </h4>
        <h4><b>Description:</b></h4>
        <article class="w3-container">
          <p style="margin:0;">{{ team.description }}</p>
        </article>
      </div>

      <div id="members" class="w3-container w3-section section">
        {% if user.player == team.leader %}
          <h3>Membership requests</h3>
          <div class="pagedTable w3-card w3-round w3-margin-bottom">
            <table class="w3-table w3-striped w3-bordered w3-hoverable">
              <thead>
              <tr class="">
                <th>Nickname</th>
                <th>Clan</th>
                <th></th>
              </tr>
              </thead>

              <tbody id="requests_rows">
              {% for player in membership_requests %}
                <tr style="display: none">
                  <td>
                    <a href="{% url 'leagues:player_detail' player.slug %}">
                      {{ player.nickname }}
                    </a>
                  </td>

                  <td>
                    {% if player.clan %}
                      <a href="{% url 'leagues:clan_detail' player.clan.slug %}">
                        {{ player.clan }}
                      </a>
                    {% else %}
                      None
                    {% endif %}
                  </td>

                  <td class="w3-padding-3 w3-small table_button_center">
                    <button onclick="buttonClick(event, {{ player.id }}, 'accept_request')"
                            class="w3-button w3-green table_button green_button"
                        {% if team.clan and player.clan != team.clan %}
                            disabled
                        {% endif %}>
                      Accept
                    </button>
                    <button onclick="buttonClick(event, {{ player.id }}, 'decline_request')"
                            class="w3-button w3-red table_button red_button"
                        {% if team.clan and player.clan != team.clan %}
                            disabled
                        {% endif %}>
                      Decline
                    </button>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% include 'leagues/table_footer.html' %}
          </div>
        {% endif %}


        <h3>Members</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Nickname</th>
              <th>Games won</th>
              <th>Games total</th>
              <th>Win ratio</th>
              {% if user.player == team.leader %}
                <th></th>
              {% endif %}
            </tr>
            </thead>

            <tbody id="member_rows">
            {% for member in member_matches %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:player_detail' member.0.slug %}">
                    {{ member.0.nickname }}
                  </a>
                </td>
                <td>{{ member.2.count }}</td>
                <td>{{ member.1.count }}</td>
                <td>{{ member.0.win_ratio|default:"No games" }}</td>
                {% if user.player == team.leader %}
                  <td class="w3-padding-3 w3-small table_button_center">
                    {% if team.leader != member.0 %}
                      <button
                          onclick="openDialog('Do you really wish to kick player ' +
                              '\'{{ member.0.nickname }}\' from your team?',
                              new CallbackConfig([{{ member.0.id }}, 'kick_player']));"
                          class="w3-button w3-red table_button red_button">
                        Kick
                      </button>
                    {% endif %}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>

      <div id="tournaments" class="w3-container w3-section section">
        {% if user.player == user.player.clan.leader %}
          <div class="w3-section flex-container">
          <div style="flex: 1 1 0; margin: 0 0.5em 0 0.5em">
        {% endif %}
        <h3>Registered tournaments</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Name</th>
              <th>Status</th>
              {% if user.player == user.player.clan.leader %}
                <th></th>
              {% endif %}
            </tr>
            </thead>

            <tbody id="matches_rows">
            {% for tournament in registered %}
              <tr style="display: none;">
                <td>
                  <a href="{% url 'leagues:tournament_detail' tournament.slug %}">
                    {{ tournament.name }}
                  </a>
                </td>
                <td>
                  {% if tournament.in_progress %}
                    In progress
                  {% elif tournament.upcoming %}
                    Upcoming
                  {% else %}
                    Finished
                  {% endif %}
                </td>
                {% if user.player == user.player.clan.leader %}
                  {% if tournament.upcoming %}
                    <td class="w3-padding-3 w3-small table_button_center">
                      <button class="w3-button w3-red table_button red_button"
                              onclick="openDialog('Do you really wish to leave \'{{ tournament.name }}\'?',
                                  new CallbackConfig([{{ tournament.id }}, 'leave_tournament']));">
                        Leave
                      </button>
                    </td>
                  {% else %}
                    <td></td>
                  {% endif %}
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
        {% if user.player == user.player.clan.leader %}
          </div>
          <div style="flex: 1 1 0; margin: 0 0.5em 0 0.5em">
            <h3>Tournaments to register</h3>
            <div class="pagedTable w3-card w3-round">
              <table class="w3-table w3-striped w3-bordered w3-hoverable">
                <thead>
                <tr class="">
                  <th>Name</th>
                  <th></th>
                </tr>
                </thead>

                <tbody id="matches_rows">
                {% for tournament in non_registered %}
                  {% if tournament.upcoming %}
                    <tr style="display: none;">
                      <td><a href="{% url 'leagues:team_detail' tournament.slug %}">{{ tournament.name }}</a></td>
                      <td class="w3-padding-3 w3-small table_button_center">
                        <button onclick="buttonClick(event, {{ tournament.id }}, 'join_tournament')"
                                class="w3-button w3-green table_button green_button">
                          Join
                        </button>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
                </tbody>
              </table>
              {% include 'leagues/table_footer.html' %}
            </div>
          </div>
          </div>
        {% endif %}
      </div>

      <div id="matches" class="w3-container w3-section section">
        <h3>Matches</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Versus</th>
              <th>Start</th>
              <th>Duration</th>
              <th>Winner</th>
              <th>Tournament</th>
              <th>Game</th>
              <th></th>
            </tr>
            </thead>

            <tbody id="matches_rows">
            {% for match in team.all_matches %}
              <tr style="display: none;">
                <td><a href="{% url 'leagues:team_detail' match.team_1.slug %}">{{ match.team_1.name }}</a>
                  VS <a href="{% url 'leagues:team_detail' match.team_2.slug %}">{{ match.team_2.name }}</a></td>
                <td>{{ match.beginning }}</td>
                <td>
                  {% if match.duration %}
                    {{ match.duration }}
                  {% else %}
                    Not ended yet
                  {% endif %}
                </td>
                <td>
                  {% if match.duration %}
                    {{ match.winner }}
                  {% endif %}
                </td>
                <td>
                  {% if match.tournament %}
                    <a href="{% url 'leagues:tournament_detail' match.tournament.slug %}">{{ match.tournament.name }}</a>
                  {% endif %}
                </td>
                <td>{{ match.game }}</td>
                <td><a href="{% url 'leagues:match_detail' match.id %}"><i class="fa fa-eye"></i></a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>


      <div id="stats" class="w3-container w3-section section">
        <h4>Win ratio: {{ team.win_ratio|default:"No matches" }}</h4>
        <h4>Member count: {{ team.team_members.count }}</h4>
        <h4>Matches played: {{ team.all_matches.count }}</h4>
        <h4>Matches won: {{ team.matches_won.count }}</h4>
      </div>

    </div>
  </div>
{% endblock %}


{% block right_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock right_panel %}