{% extends 'leagues/base.html' %}
{% block title %}Teams | {{ team.name }} {% endblock %}

{% block scripts %}
  <script>
      function buttonClick(event, object_id, action) {
          let url = '{% url 'leagues:team_detail' team.slug %}';
          let data = {
              'action': action,
              'object_id': object_id,
          };

          function callback(json) {
              if (json['has_clan_teams']) {
                  let tmp = new CallbackConfig([object_id, 'force_leave_clan']);
                  openDialog('Do you really wish to leave all clan\'s teams?', tmp);
              } else if (json['need_clan']) {
                  let tmp = new CallbackConfig([object_id, 'force_join_team']);
                  openDialog('Do you wish to join team\'s clan?', tmp);
              } else if ('error' in json) {
                  $('#confirm_bar').hide();
                  openDialog(json['error']);
              } else {
                  location.reload();
              }
          }

          baseButtonClick(event, data, url, callback);
      }


      function clanSelected(event) {
          let submitButton = $('#request_submit');
          let menu = $(event.target);
          let selected = $('option:selected', menu);
          submitButton.prop('disabled', selected.text().includes('---'));
      }


      $(document).ready(function () {
          $('#id_{{ clan_form.prefix }}-clan').change(clanSelected)
      });
  </script>
{% endblock %}

{% block left_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock left_panel %}


{% block content %}
  <div class="w3-container w3-margin-bottom flex-container" style="flex: 2 1 0;">
    <div class="w3-card w3-round-large w3-white" style="max-width: 1000px; flex: 1 1 auto;">
      <header>
        <h1 style="text-align: center; font-family: 'Audiowide', cursive;">
          {{ team.name }}
        </h1>
        {% if team.clan %}

          <h4 style="text-align: center; font-family: 'Audiowide', cursive;">
            Clan:
            <a style="text-align: center; font-family: 'Audiowide', cursive;"
               href="{% url 'leagues:clan_detail' team.clan.slug %}">
              {{ team.clan }}
            </a>
          </h4>
        {% endif %}

        <ul class="section-bar" style="flex: 1 1 auto">
          <li onclick="showSection(event, 'info');" id="info_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Team info
          </li>
          <li onclick="showSection(event, 'members');" id="members_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Members
          </li>
          <li onclick="showSection(event, 'tournaments');" id="tournaments_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Tournaments
          </li>
          <li onclick="showSection(event, 'matches');" id="matches_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Matches
          </li>
          <li onclick="showSection(event, 'stats');" id="stats_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Statistics
          </li>
        </ul>
      </header>

      <div id="info" class="w3-container w3-section section">
        <div class="button_bar" style="position: relative;overflow: auto;">
          {% if user.player == team.leader %}
            <button type="button" class="w3-button w3-round w3-green green_button"
                    style="margin-right: 20px"
                    onclick="$('#{{ edit_form.prefix }}').show()">
              Edit<i class="fas fa-edit" style="margin-left: 10px;"></i>
            </button>
            {% if team.clan %}
              <button type="button" class="w3-button w3-round w3-red red_button"
                      onclick="openDialog('Do you really wish to remove this team from clan?',
                          new CallbackConfig([{{ team.id }}, 'remove_clan']));">
                Remove clan
              </button>
            {% elif team.clan_pending %}
              <button type="button" onclick="buttonClick(event, {{ team.id }}, 'cancel_clan_request')"
                      class="w3-button w3-round w3-orange orange_button">
                <span class="normal">Pending clan</span>
                <span class="hover">Cancel</span>
              </button>
            {% else %}
              <button type="button" class="w3-button w3-round w3-green green_button"
                      onclick="$('#{{ clan_form.prefix }}').show()">
                Add clan
              </button>
            {% endif %}
          {% endif %}

          {% if team in user.player.teams.all %}
            <button type="button" class="w3-button w3-round w3-red red_button"
                    style="float:right;"
                    onclick="openDialog('Do you really wish to leave this team?',
                        new CallbackConfig([{{ user.player.id }}, 'leave_team']));">
              Leave team
            </button>
          {% else %}
            <button type="button" class="w3-button w3-round w3-green green_button"
                    style="float:right;"
                    onclick="buttonClick(event, {{ user.player.id }}, 'join_team')">
              Join team
            </button>
          {% endif %}
        </div>


        <h4><b>Active:</b>
          {% if team.active %}
            <i class="fas fa-check-circle"></i>
          {% else %}
            <i class="fas fa-times-circle"></i>
          {% endif %}
        </h4>

        <h4><b>Leader:</b>
          {% if team.leader %}
            <a href="{% url 'leagues:player_detail' team.leader.slug %}">{{ team.leader }}</a>
          {% else %}
            None
          {% endif %}
        </h4>

        <h4><b>Founded:</b> {{ team.founded|default:""|date:"j.n.Y" }}</h4>

        <h4><b>Game of interest:</b>
          {% if team.game %}
            <a href="{% url 'leagues:game_detail' team.game.slug %}">{{ team.game }}</a>
          {% else %}
            None
          {% endif %}
        </h4>

        {% if team.clan_pending %}
          <h4><b>Pending clan:</b>
            <a href="{% url 'leagues:clan_detail' team.clan_pending.slug %}">{{ team.clan_pending }}</a>
          </h4>
        {% endif %}

        <h4><b>Description:</b></h4>
        <article class="w3-container">
          <p style="margin:0;">{{ team.description }}</p>
        </article>
      </div>

      <div id="members" class="w3-container w3-section section">
        {% if user.player == team.leader %}
          <h3>Membership requests</h3>
          <div class="pagedTable w3-card w3-round w3-margin-bottom">
            <table class="w3-table w3-striped w3-bordered w3-hoverable">
              <thead>
              <tr class="">
                <th>Nickname</th>
                <th>Clan</th>
                <th></th>
              </tr>
              </thead>

              <tbody id="requests_rows">
              {% for player in team.team_pendings.all %}
                <tr style="display: none">
                  <td>
                    <a href="{% url 'leagues:player_detail' player.slug %}">
                      {{ player.nickname }}
                    </a>
                  </td>

                  <td>
                    {% if player.clan %}
                      <a href="{% url 'leagues:clan_detail' player.clan.slug %}">
                        {{ player.clan }}
                      </a>
                    {% else %}
                      None
                    {% endif %}
                  </td>

                  <td class="w3-padding-3 w3-small table_button_center">
                    <button onclick="buttonClick(event, {{ player.id }}, 'decline_request')"
                            class="w3-button w3-red table_button red_button"
                        {% if team.clan and player.clan != team.clan %}
                            disabled
                        {% endif %}>
                      Decline
                    </button>
                    <button onclick="buttonClick(event, {{ player.id }}, 'accept_request')"
                            class="w3-button w3-green table_button green_button"
                        {% if team.clan and player.clan != team.clan %}
                            disabled
                        {% endif %}>
                      Accept
                    </button>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% include 'leagues/table_footer.html' %}
          </div>
        {% endif %}


        <h3>Members</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Nickname</th>
              <th>Games won</th>
              <th>Games total</th>
              <th>Win ratio</th>
              {% if user.player == team.leader %}
                <th></th>
              {% endif %}
            </tr>
            </thead>

            <tbody id="member_rows">
            {% for member in member_matches %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:player_detail' member.0.slug %}">
                    {{ member.0.nickname }}
                  </a>
                </td>
                <td>{{ member.2.count }}</td>
                <td>{{ member.1.count }}</td>
                <td>{{ member.0.win_ratio|default:"No games" }}</td>
                {% if user.player == team.leader %}
                  <td class="w3-padding-3 w3-small table_button_center">
                    {% if team.leader != member.0 %}
                      <button
                          onclick="openDialog('Do you really wish to kick player ' +
                              '\'{{ member.0.nickname }}\' from your team?',
                              new CallbackConfig([{{ member.0.id }}, 'kick_player']));"
                          class="w3-button w3-red table_button red_button">
                        Kick
                      </button>
                    {% endif %}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>

      <div id="tournaments" class="w3-container w3-section section">
        {% if team.clan and user.player == team.clan.leader %}
          <div class="w3-margin-bottom flex-container">
          <div style="flex: 1 1 0; margin: 0 0.5em 0 0.5em">
        {% endif %}
        <h3>Registered</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Name</th>
              <th>Status</th>
              {% if user.player == user.player.clan.leader %}
                <th></th>
              {% endif %}
            </tr>
            </thead>

            <tbody id="matches_rows">
            {% for tournament in registered %}
              <tr style="display: none;">
                <td>
                  <a href="{% url 'leagues:tournament_detail' tournament.slug %}">
                    {{ tournament.name }}
                  </a>
                </td>
                <td>
                  {% if tournament.status == status.IN_PROGRESS %}
                    In progress
                  {% elif tournament.status == status.UPCOMING %}
                    Upcoming
                  {% else %}
                    Finished
                  {% endif %}
                </td>
                {% if user.player == user.player.clan.leader %}
                  {% if tournament.upcoming %}
                    <td class="w3-padding-3 w3-small table_button_center">
                      <button class="w3-button w3-red table_button red_button"
                              onclick="openDialog('Do you really wish to leave \'{{ tournament.name }}\'?',
                                  new CallbackConfig([{{ tournament.id }}, 'leave_tournament']));">
                        Leave
                      </button>
                    </td>
                  {% else %}
                    <td></td>
                  {% endif %}
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
        {% if team.clan and user.player == team.clan.leader %}
          </div>
          <div style="flex: 1 1 0; margin: 0 0.5em 0 0.5em">
            <h3>Upcoming</h3>
            <div class="pagedTable w3-card w3-round">
              <table class="w3-table w3-striped w3-bordered w3-hoverable">
                <thead>
                <tr class="">
                  <th>Name</th>
                  <th></th>
                </tr>
                </thead>

                <tbody id="matches_rows">
                {% for tournament in non_registered %}
                  {% if tournament.upcoming %}
                    <tr style="display: none;">
                      <td><a href="{% url 'leagues:team_detail' tournament.slug %}">{{ tournament.name }}</a></td>
                      <td class="w3-padding-3 w3-small table_button_center">
                        <button onclick="buttonClick(event, {{ tournament.id }}, 'join_tournament')"
                                class="w3-button w3-green table_button green_button">
                          Join
                        </button>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
                </tbody>
              </table>
              {% include 'leagues/table_footer.html' %}
            </div>
          </div>
          </div>
        {% endif %}
      </div>

      <div id="matches" class="w3-container w3-section section">
        <h3>Matches</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Versus</th>
              <th>Start</th>
              <th>Duration</th>
              <th>Winner</th>
              <th>Tournament</th>
              <th>Game</th>
              <th></th>
            </tr>
            </thead>

            <tbody id="matches_rows">
            {% for match in team.all_matches %}
              <tr style="display: none;">
                <td><a href="{% url 'leagues:team_detail' match.team_1.slug %}">{{ match.team_1.name }}</a>
                  VS <a href="{% url 'leagues:team_detail' match.team_2.slug %}">{{ match.team_2.name }}</a></td>
                <td>{{ match.beginning|date:"j.n.Y" }}</td>
                <td>
                  {% if match.duration %}
                    {{ match.duration_fmt }}
                  {% else %}
                    Not ended yet
                  {% endif %}
                </td>
                <td>
                  {% if match.duration %}
                    {{ match.winner }}
                  {% endif %}
                </td>
                <td>
                  {% if match.tournament %}
                    <a href="{% url 'leagues:tournament_detail' match.tournament.slug %}">{{ match.tournament.name }}</a>
                  {% endif %}
                </td>
                <td>{{ match.game }}</td>
                <td><a href="{% url 'leagues:match_detail' match.id %}"><i class="fa fa-eye"></i></a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>


      <div id="stats" class="w3-container w3-section section">
        <h4>Win ratio: {{ team.win_ratio|default:"No matches" }}</h4>
        <h4>Member count: {{ team.team_members.count }}</h4>
        <h4>Matches played: {{ team.all_matches.count }}</h4>
        <h4>Matches won: {{ team.matches_won.count }}</h4>
      </div>

    </div>
  </div>
{% endblock %}

{% load widget_tweaks %}
{% block endpage %}
  <div id="{{ edit_form.prefix }}" class="w3-modal" {% if edit_form.errors %}style="display: block"{% endif %}>
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Edit '{{ team.name }}'</h3>

        <button onclick="CloseModal('{{ edit_form.prefix }}')" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:team_detail' team.slug %}" name="team_edit">
        <div class="w3-section w3-container">
          {% include 'leagues/form_errors.html' with errors=edit_form.errors %}
          {% csrf_token %}
          {{ edit_form.clan.as_hidden }}
          {{ edit_form.founded.as_hidden }}

          <label><b>{{ edit_form.name.label_tag }}</b></label>
          {% render_field edit_form.name class+="formUnique w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ edit_form.leader.label_tag }}</b></label>
          {% render_field edit_form.leader class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ edit_form.game.label_tag }}</b></label>
          {% render_field edit_form.game class+="w3-input w3-border w3-margin-bottom" %}

          <label><b>{{ edit_form.description.label_tag }}</b></label>
          {% render_field edit_form.description class+="w3-input w3-border" %}
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="CloseModal('{{ edit_form.prefix }}')" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <input class="formID" type="hidden" name="object_id" value="">
          <input class="formAction" type="hidden" name="action" value="edit_team">
          <input class="formSubmit w3-button w3-green w3-right" type="submit" value="Edit team">
        </div>
      </form>
    </div>
  </div>

  <div id="{{ clan_form.prefix }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Join clan</h3>

        <button onclick="$('#{{ clan_form.prefix }}').hide()" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>

      <form method="POST" action="{% url 'leagues:team_detail' team.slug %}">
        <div class="w3-section w3-container">
          <div class="w3-panel w3-yellow w3-round"
               style="text-align: center; padding-right: 100px; position:relative;">
            <p>
              <b>
                Team can join clan only if all its members
                are also members of specified clan
              </b>
            </p>
            <i class="fas fa-exclamation-triangle w3-display-right"
               style="right: 40px; top: 30px; transform: scale(3,3);"></i>
          </div>

          {% csrf_token %}

          <label><b>{{ clan_form.clan.label_tag }}</b></label>
          {% render_field clan_form.clan class+="w3-input w3-border" %}

        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="$('#{{ clan_form.prefix }}').hide()" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <input class="formAction" type="hidden" name="action" value="add_clan">
          <input disabled class="formSubmit w3-button w3-green w3-right" id="request_submit"
                 type="submit" value="Send request">
        </div>
      </form>
    </div>
  </div>
{% endblock %}


{% block right_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock right_panel %}