{% extends 'leagues/base.html' %}
{% block title %}Tournament | {{ tournament.name }} {% endblock %}

{% block scripts %}
  <script>
      function buttonClick(event, action, form_id) {
          let url = '{% url 'leagues:tournament_detail' tournament.slug %}';
          let formData = $('#' + form_id).serializeArray();

          let data = {
              'action': action,
              'data': JSON.stringify(formData)
          };

          function callback(json) {
              if (json['status'] === "error") {
                  $('#team_pick_error').show();
                  $('#team_pick').show();
                  $('#team_pick_error p').text("You have no teams to be selected");
                  $("#team_reg").prop('disabled', true);
              } else if (json['status'] === "good") {
                  $("#team_reg").prop('disabled', false);
                  let tmp = $.parseJSON(json['teams']);
                  let data = tmp['data'];
                  $('#team_pick_error').hide();
                  for (let i = 0; i < data.length; ++i) {
                      $('#team_select').append($('<option>', {value: data[i][0], text: data[i][1]}));
                  }
                  $('#team_pick').show();
              } else {
                  location.reload();
              }
          }

          baseButtonClick(event, data, url, callback);
      }

      function RemoveTeams() {
          $('#team_select').find('option').remove();
          $('#team_pick').hide();
      }

      function teamUnreg(event) {
          $('#team_unreg').val({{ registered.id }});
          buttonClick(event, 'unregister', 'unreg_form')
      }
  </script>
{% endblock %}

{% block left_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock left_panel %}


{% block content %}
  <div class="w3-container w3-margin-bottom flex-container" style="flex: 2 1 0;">
    <div class="w3-card w3-round-large w3-white" style="width: 100%;">
      <header>
        <h1 style="text-align: center; font-family: 'Audiowide', cursive;">{{ tournament.name }}</h1>

        <ul class="section-bar" style="flex: 1 1 auto">
          <li onclick="showSection(event, 'info');" id="info_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Informations
          </li>
          <li onclick="showSection(event, 'teams');" id="matches_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Participating teams
          </li>
          <li onclick="showSection(event, 'matches');" id="matches_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Matches
          </li>
          <li onclick="showSection(event, 'sponsors');" id="sponsors_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Sponsors
          </li>
        </ul>
      </header>

      <div id="info" class="w3-container w3-section section">

        <h4><b>Main sponsor:</b>
          {{ main_sponsor.sponsor.name }}
        </h4>

        <h4><b>Prize:</b>
          {{ tournament.prize }} $
        </h4>

        <h4><b>Opening date:</b>
          {{ tournament.opening_date }}
        </h4>

        <h4><b>End date:</b>
          {{ tournament.end_date }}
        </h4>

        <h4><b>Game of interest:</b>
          <a href="{% url 'leagues:game_detail' tournament.game.slug %}">{{ tournament.game.name }}</a>
        </h4>

        <h4><b>Description:</b></h4>
        <article class="w3-container">
          <p style="margin:0;">{{ tournament.description }}</p>
        </article>
      </div>

      <div id="teams" class="w3-container w3-section section">
        <h3>Participating teams</h3>
        <div class="pagedTable w3-card w3-round">
          {% if user.player == user.player.clan.leader %}
            {% if registered != None %}
              <button type="button" class="w3-padding-3 w3-button w3-small w3-gray w3-block"
                      onclick="teamUnreg(event)">
                <i class="fa fa-plus"></i> Unregister {{ registered.name }}
              </button>
            {% else %}
              <button type="button" class="w3-padding-3 w3-button w3-small w3-gray w3-block"
                      onclick="buttonClick(event, 'set_teams', 'set_teams')">
                <i class="fa fa-plus"></i> Register team
              </button>
            {% endif %}
          {% endif %}
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Name</th>
              <th>Games total</th>
              <th>Win games</th>
              <th>Win ratio</th>
            </tr>
            </thead>

            <tbody id="member_rows">
            {% for team in team_matches %}
              <tr style="display: none">
                <td>
                  <a href="{% url 'leagues:team_detail' team.0.slug %}">
                    {{ team.0.name }}
                  </a>
                </td>
                <td>{{ team.1.count }}</td>
                <td>{{ team.2.count }}</td>
                <td>{{ team.3|default:"Not played yet" }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>

      <div id="matches" class="w3-container w3-section section">
        <h3>Matches</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Versus</th>
              <th>Start</th>
              <th>Duration</th>
              <th>Winner</th>
              <th>Tournament</th>
              <th>Game</th>
              <th></th>
            </tr>
            </thead>

            <tbody id="matches_rows">
            {% for match in matches %}
              <tr style="display: none;">
                <td><a href="{% url 'leagues:team_detail' match.team_1.slug %}">{{ match.team_1.name }}</a>
                  VS <a href="{% url 'leagues:team_detail' match.team_2.slug %}">{{ match.team_2.name }}</a></td>
                <td>{{ match.beginning }}</td>
                <td>
                  {% if match.duration %}
                    {{ match.duration }}
                  {% else %}
                    Not ended yet
                  {% endif %}
                </td>
                <td>
                  {% if match.duration %}
                    {{ match.winner }}
                  {% endif %}
                </td>
                <td>
                  {% if match.tournament %}
                    <a href="{% url 'leagues:tournament_detail' match.tournament.slug %}">{{ match.tournament.name }}</a>
                  {% endif %}
                </td>
                <td>{{ match.game }}</td>
                <td><a href="{% url 'leagues:match_detail' match.id %}"><i class="fa fa-eye"></i></a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>


      <div id="sponsors" class="w3-container w3-section section">
        <h3>Sponsors</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Name</th>
              <th>Amount</th>
              <th>Type</th>
            </tr>
            </thead>

            <tbody id="matches_rows">
            {% for sponsor in sponsors %}
              <tr style="display: none;">
                <td>{{ sponsor.sponsor.name }}</td>
                <td>{{ sponsor.amount }} $</td>
                <td>{{ sponsor.type }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block endpage %}
  <div id="team_pick" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Register team</h3>
        <button onclick="RemoveTeams()" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <div id="team_pick_error" class="w3-container w3-padding-16 w3-margin-bottom w3-red w3-round-large" hidden>
        <p></p>
      </div>
      <form method="POST" action="{% url 'leagues:tournament_detail' tournament.slug %}" id="team_form">
        <div class="w3-section w3-container">
          {% csrf_token %}

          <label for="team_select"><b>Pick team</b></label>
          <select class="w3-input w3-border w3-margin-bottom" name="team_select" id="team_select">
          </select>

        </div>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button type="button" onclick="RemoveTeams()"
                  class="w3-button w3-red">Cancel
          </button>

          <button type="button" onclick="buttonClick(event, 'team_selected', 'team_form')"
                  class="w3-button w3-green w3-right" id="team_reg">Register team
          </button>
        </div>
      </form>
    </div>
  </div>

  <form method="POST" action="{% url 'leagues:tournament_detail' tournament.slug %}" id="set_teams">
    {% csrf_token %}
    <input type="hidden" name="clan" value="{{ user.player.clan.id }}">
  </form>

  <form method="POST" action="{% url 'leagues:tournament_detail' tournament.slug %}" id="unreg_form">
    {% csrf_token %}
    <input type="hidden" name="team" id="team_unreg">
  </form>

{% endblock %}
