{% extends 'leagues/base.html' %}
{% block title %}Leagues | Tournaments{% endblock %}

{% block scripts %}
  <script>
      function buttonClick(action, form_id) {
          let formData = form_id.serializeArray();
          formData = JSON.stringify(formData);
          $.ajax({
              type: 'POST',
              url: "{% url 'leagues:tournaments' %}",
              data: {
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                  'action': action,
                  'data': formData
              },
              dataType: "json",
              async: true,
              success: function (json) {
                  if (json['status'] == "pick_teams") {
                      var tmp = $.parseJSON(json['teams']);
                      $('#tournament').attr('value', json['tournament']);
                      FillTeams(tmp);
                  }
                  else if (json['status'] == "pick_game") {
                      var tmp = $.parseJSON(json['games']);
                      FillGames(tmp);
                  }
                  else if (json['status'] == "pick_game_mode") {
                      var tmp = $.parseJSON(json['game_modes']);
                      $('#game_mode-game').attr('value', json['game']);
                      FillGameMode(tmp);
                  }
                  else if (json['status'] == "pick_team1") {
                      var tmp = $.parseJSON(json['teams_1']);
                      $('#team_1-game').attr('value', json['game']);
                      $('#team_1-game_mode').attr('value', json['game_mode']);
                      FillTeam_1(tmp);
                  }
                  else if (json['status'] == "pick_team2") {
                      var tmp = $.parseJSON(json['teams_2']);
                      $('#team_2-game').attr('value', json['game']);
                      $('#team_2-game_mode').attr('value', json['game_mode']);
                      $('#team_2-team1').attr('value', json['team_1']);
                      FillTeam_2(tmp);
                  }
                  else {
                      location.reload();
                  }
              },
              error: function (xhr, error) {
                  console.log("AJAX failure");
                  console.log(xhr);
                  console.log(error);
              }
          });
      }

      function FillGames(parseData) {
          var data = parseData['data'];
          for (var i = 0; i < data.length; ++i) {
              $('#id_match_create-game').append($('<option>', {value: data[i][0], text: data[i][1]}));
          }
          $('#game_pick').show();
          $('#{{ match_form.prefix }}').hide();
      }

      function FillGameMode(parseData) {
          var data = parseData['data'];
          for (var i = 0; i < data.length; ++i) {
              $('#id_match_create-game_mode').append($('<option>', {value: data[i][0], text: data[i][1]}));
          }
          $('#game_pick').hide();
          $('#game_mode_pick').show();
      }

      function FillTeam_1(parseData) {
          var data = parseData['data'];
          var i = 0
          for (; i < data.length; ++i) {
              $('#team_1').append($('<option>', {value: data[i][0], text: data[i][1]}));
          }
          if (i < 2) {
              $("#team1_next").prop('disabled', true);
          }
          else {
              $("#team1_next").prop('disabled', false);
          }
          $('#game_mode_pick').hide();
          $('#team1_pick').show();
      }

      function FillTeam_2(parseData) {
          var data = parseData['data'];
          for (var i = 0; i < data.length; ++i) {
              $('#team_2').append($('<option>', {value: data[i][0], text: data[i][1]}));
          }
          if (i < 1) {
              $("#team2_next").prop('disabled', true);
          }
          else {
              $("#team2_next").prop('disabled', false);
          }
          $('#team1_pick').hide();
          $('#team2_pick').show();
      }

      function FillTeams(parseData) {
          var data = parseData['data'];
          $('#id_match_create-team_1').append($('<option>', {value: 0, text: "---------"}));
          $('#id_match_create-team_2').append($('<option>', {value: 0, text: "---------"}));
          var i = 0
          for (; i < data.length; ++i) {
              $('#id_match_create-team_1').append($('<option>', {value: data[i][0], text: data[i][1]}));
              $('#id_match_create-team_2').append($('<option>', {value: data[i][0], text: data[i][1]}));
          }
          if (i < 2) {
              $("#teams_next").prop('disabled', true);
          }
          else {
              $("#teams_next").prop('disabled', false);
          }
          $('#team_pick').show();
          $('#{{ match_form.prefix }}').hide();
      }

      function RemoveTeams() {
          $('#id_match_create-team_1')
              .find('option')
              .remove()

          $('#id_match_create-team_2')
              .find('option')
              .remove()

          $('#team_pick').hide()
      }

      function RemoveAll() {
          $('#team2')
              .find('option')
              .remove()

          $('#team1')
              .find('option')
              .remove()

          $('#id_match_create-game')
              .find('option')
              .remove()

          $('#id_match_create-game_mode')
              .find('option')
              .remove()

          $('#team1_pick').hide()
          $('#team2_pick').hide()
          $('#game_pick').hide()
          $('#game_mode_pick').hide()
      }

      function RemoveOptions(select_id, form_hide_id) {
          select_id
              .find('option')
              .remove()

          form_hide_id.hide()
      }

      function GoBack(select_id, form_hide_id, form_show_id) {
          form_show_id.show()
          RemoveOptions(select_id, form_hide_id)
      }

      function HandleDropdowns(element) {
          var $element = element;
          var value = $element.val();

          $.each($('#teams_id select').not($element), function () { //loop all remaining select elements
              var subValue = $(this).val();
              if (value != "0" && subValue != "0") {
                  if (subValue === value) { // if value is same reset
                      $(this).val(0);
                  }
              }
          });
      }

      function SendTournament() {
          $('#team_pick_error').hide();
          buttonClick('picked_tournament', $('#tournament_id'));
      }

      function SendTeams() {
          if ($('#id_match_create-team_1 option[value="0"]:selected').length != 0 ||
              $('#id_match_create-team_2 option[value="0"]:selected').length != 0) {
              $('#team_pick_error').show();
              $('#team_pick_error p').text("You have to select teams before ...");
          }
          else {
              buttonClick('match_done', $('#teams_id'));
          }
      }

  </script>
{% endblock %}

{% block left_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock left_panel %}

{% load widget_tweaks %}

{% block content %}
  <div class="w3-container flex-container" style="flex: 1 1 0">
    <div class="w3-card w3-round-large w3-white" style="max-width: 1000px; flex: 1 0 auto;">
      <header>
        <ul class="section-bar">
          <li onclick="showSection(event, 'tournaments');" id="tournaments_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding w3-border-red">
            Tournaments
          </li>
          <li onclick="showSection(event, 'matches');" id="matches_tab"
              class="section-tab w3-bottombar w3-hover-light-grey w3-padding">
            Matches
          </li>
        </ul>
      </header>

      <div id="tournaments" class="w3-container w3-section section">
        <h3>Tournaments</h3>
        <div class="pagedTable w3-card w3-round">
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr>
              <th>Name</th>
              <th>Main sponsor</th>
              <th>Opening date</th>
              <th>End date</th>
              <th>Prize</th>
            </tr>
            </thead>

            <tbody id="tournaments_rows">
            {% for tournament in tournaments %}
              <tr style="display: none">
                <td><a href="{% url 'leagues:tournament_detail' tournament.slug %}">{{ tournament.name }}</a>
                </td>
                <td>
                  {% for record in tournament.sponsorship_set.all %}
                    {% if record.type == 'MAIN' %}
                      {{ record.sponsor.name }}
                    {% endif %}
                  {% endfor %}
                </td>
                <td>{{ tournament.opening_date }}</td>
                <td>{{ tournament.end_date }}</td>
                <td>{{ tournament.prize }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>

      <div id="matches" class="w3-container w3-section section">
        <h3>Matches</h3>
        <div class="pagedTable w3-card w3-round w3-margin-bottom">
          <button type="button" class="w3-padding-3 w3-button w3-small w3-gray w3-block"
                  onclick="$('#{{ match_form.prefix }}').show()">
            <i class="fa fa-plus"></i> Add new
          </button>
          <table class="w3-table w3-striped w3-bordered w3-hoverable">
            <thead>
            <tr class="">
              <th>Versus</th>
              <th>Start</th>
              <th>Duration</th>
              <th>Winner</th>
              <th>Tournament</th>
              <th>Game</th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            {% for match in matches %}
              <tr style="display: none">
                <td><a href="{% url 'leagues:team_detail' match.team_1.slug %}">{{ match.team_1.name }}</a>
                  VS <a href="{% url 'leagues:team_detail' match.team_2.slug %}">{{ match.team_2.name }}</a></td>
                <td>{{ match.beginning|date:"j.n.Y" }}</td>
                <td>
                  {% if match.duration %}
                    {{ match.duration_fmt }}
                  {% else %}
                    Not ended yet
                  {% endif %}
                </td>
                <td>
                  {% if match.duration %}
                    {{ match.winner }}
                  {% endif %}
                </td>
                <td>
                  {% if match.tournament %}
                    <a href="{% url 'leagues:tournament_detail' match.tournament.slug %}">{{ match.tournament.name }}</a>
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'leagues:game_detail' match.game.slug %}">
                    {{ match.game }}
                  </a>
                </td>
                <td><a href="{% url 'leagues:match_detail' match.id %}"><i class="fa fa-eye"></i></a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% include 'leagues/table_footer.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block right_panel %}
  {% with side_bars_enabled=True %}
    {{ block.super }}
  {% endwith %}
{% endblock right_panel %}

{% block endpage %}
  <div id="{{ match_form.prefix }}" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create Match</h3>

        <button onclick="$('#{{ match_form.prefix }}').hide()" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form id="tournament_id" method="POST" action="{% url 'leagues:tournaments' %}">
        <div class="w3-section w3-container">
          {% csrf_token %}

          <label><b>{{ match_form.tournament.label_tag }}</b></label>
          {% render_field match_form.tournament class+="w3-input w3-border" %}

        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="$('#{{ match_form.prefix }}').hide()" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <button onclick="SendTournament()" type="button"
                  class="w3-button w3-green w3-right">Next
          </button>

        </div>
      </form>
    </div>
  </div>


  <div id="team_pick" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create Match</h3>
        <button onclick="RemoveTeams()" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <div id="team_pick_error" class="w3-container w3-padding-16 w3-margin-bottom w3-red w3-round-large" hidden>
        <p></p>
      </div>
      <form method="POST" action="{% url 'leagues:tournaments' %}" id="teams_id">
        <div class="w3-section w3-container">
          {% csrf_token %}

          <label><b>{{ match_form.team_1.label_tag }}</b></label>
          <select class="w3-input w3-border w3-margin-bottom" name="match_create-team_1" id="id_match_create-team_1">
          </select>

          <label><b>{{ match_form.team_2.label_tag }}</b></label>
          <select class="w3-input w3-border w3-margin-bottom" name="match_create-team_2" id="id_match_create-team_2">
          </select>

          <script>
              $('#teams_id select').on('change', function () {
                  HandleDropdowns($(this));
              });
          </script>
        </div>
        <input type="hidden" name="tournament" id="tournament">
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button onclick="RemoveTeams()" type="button"
                  class="w3-button w3-red">Cancel
          </button>

          <button onclick="SendTeams()" type="button"
                  class="w3-button w3-green w3-right" id="teams_next">Create Match
          </button>

        </div>
      </form>
    </div>
  </div>

  <div id="game_pick" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create Match</h3>
        <button onclick="RemoveAll()" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:tournaments' %}" id="games_id">
        <div class="w3-section w3-container">
          {% csrf_token %}

          <label><b>{{ match_form.game.label_tag }}</b></label>
          <select class="w3-input w3-border w3-margin-bottom" name="match_create-game" id="id_match_create-game">
          </select>

        </div>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button type="button"
                  onclick="GoBack($('#id_match_create-game'), $('#game_pick'), $('#{{ match_form.prefix }}'))"
                  class="w3-button w3-red">Back
          </button>

          <button type="button" onclick="buttonClick('picked_game', $('#games_id'))"
                  class="w3-button w3-green w3-right">Next
          </button>
        </div>
      </form>
    </div>
  </div>

  <div id="game_mode_pick" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create Match</h3>
        <button onclick="RemoveAll()" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:tournaments' %}" id="game_mode_id">
        <div class="w3-section w3-container">
          {% csrf_token %}

          <label><b>{{ match_form.game_mode.label_tag }}</b></label>
          <select class="w3-input w3-border w3-margin-bottom" name="match_create-game_mode"
                  id="id_match_create-game_mode">
          </select>

        </div>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button type="button" onclick="GoBack($('#id_match_create-game_mode'), $('#game_mode_pick'), $('#game_pick'))"
                  class="w3-button w3-red">Back
          </button>

          <button type="button" onclick="buttonClick('picked_game_mode', $('#game_mode_id'))"
                  class="w3-button w3-green w3-right">Next
          </button>
          <input type="hidden" name="game_mode-game" id="game_mode-game">
        </div>
      </form>
    </div>
  </div>

  <div id="team1_pick" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create Match</h3>
        <button onclick="RemoveAll()" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:tournaments' %}" id="team1_id">
        <div class="w3-section w3-container">
          {% csrf_token %}

          <label><b>{{ match_form.team_1.label_tag }}</b></label>
          <select class="w3-input w3-border w3-margin-bottom" name="team_1" id="team_1">
          </select>

        </div>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button type="button" onclick="GoBack($('#team_1'), $('#team1_pick'), $('#game_mode_pick'))"
                  class="w3-button w3-red">Back
          </button>

          <button type="button" onclick="buttonClick('picked_team1', $('#team1_id'))"
                  class="w3-button w3-green w3-right" id="team1_next">Next
          </button>
          <input type="hidden" name="team_1-game" id="team_1-game">
          <input type="hidden" name="team_1-game_mode" id="team_1-game_mode">
        </div>
      </form>
    </div>
  </div>

  <div id="team2_pick" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <header class="w3-container w3-center w3-light-grey w3-border-bottom">
        <h3 class="modalTitle">Create Match</h3>
        <button onclick="RemoveAll()" type="button"
                class="w3-button w3-display-topright w3-red">
          <i class="fa fa-times"></i>
        </button>
      </header>
      <form method="POST" action="{% url 'leagues:tournaments' %}" id="team2_id">
        <div class="w3-section w3-container">
          {% csrf_token %}

          <label><b>{{ match_form.team_1.label_tag }}</b></label>
          <select class="w3-input w3-border w3-margin-bottom" name="team_2" id="team_2">
          </select>

        </div>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
          <button type="button" onclick="GoBack($('#team_2'), $('#team2_pick'), $('#team1_pick'))"
                  class="w3-button w3-red">Back
          </button>

          <button type="button" onclick="buttonClick('non_turnament_done', $('#team2_id'))"
                  class="w3-button w3-green w3-right" id="team1_next" id="team2_next">Create Match
          </button>
          <input type="hidden" name="team_2-game" id="team_2-game">
          <input type="hidden" name="team_2-game_mode" id="team_2-game_mode">
          <input type="hidden" name="team_2-team1" id="team_2-team1">
        </div>
      </form>
    </div>
  </div>
{% endblock %}